<div class="authloginpage-169-3099" name="Auth@Login Page">
 <img class="vector-169-3100" src="assets/images/Auth/login-page/vector-169_3100.svg"/>
 <div class="group-169-3114" name="Group">
  <div class="group-169-3115" name="Group">
   <div class="group-169-3116" name="Group">
    <div class="group-169-3117" name="Group">
     <div class="group-169-3118" name="Group">
      <div class="group-169-3119" name="Group">
      </div>
     </div>
    </div>
    <div class="group-169-3120" name="Group">
     <input class="text-169-3121" placeholder="Password" type="text"/>
     <input class="text-169-3124" placeholder="john.doe" type="text"/>
     <div class="group-169-3127" name="Group">
      <div class="group-169-3128" name="Group">
      </div>
      <label class="text-169-3129" type="text" value="User Name">
       User Name
      </label>
     </div>
    </div>
    <div class="group-169-3130" name="Group">
     <label class="text-169-3131" type="text" value="Show
Password">
      Show
Password
     </label>
     <img class="vector-169-3132" src="assets/images/Auth/login-page/vector-169_3132.svg"/>
    </div>
   </div>
  </div>
  <button class="btn-169-3133" type="button">
   Login
  </button>
  <label class="text-169-3136" type="text" value="Forgot username?  |  Forgot password?">
   Forgot username?  |  Forgot password?
  </label>
  <label class="text-169-3137" type="text" value="Welcome Back!">
   Welcome Back!
  </label>
 </div>
 <div class="group-169-3138" name="Group">
 </div>
 <div class="group-169-3139" name="Group">
  <img class="img-169-3140" src="assets/images/Auth/login-page/img-169_3140.png"/>
 </div>
 <label class="text-169-3379" type="text" value="All-in-one platform for the efficient prediction and management of physician and nurse scheduling">
  All-in-one platform for the efficient prediction and management of physician and nurse scheduling
 </label>
 <label class="text-169-3380" type="text" value="The first AI-driven healthcare
staffing + scheduling platform">
  The first AI-driven healthcare
staffing + scheduling platform
 </label>
 <img class="vector-169-3381" src="assets/images/Auth/login-page/vector-169_3381.svg"/>
</div>
