<div class="coreactualdatadashboard-169-3406" name="Core@Actual Data Dash board">
 <div class="group-169-3407" name="Group">
  <div class="group-169-3408" name="Group">
  </div>
  <label class="text-169-3409" type="text" value="©2021 polarishealth.ai- All Rights Reserved.">
   ©2021 polarishealth.ai- All Rights Reserved.
  </label>
 </div>
 <div class="group-169-3410" name="Group">
  <div class="group-169-3411" name="Group">
  </div>
  <img class="vector-169-3412" src="assets/images/Core/actual-data-dash-board/vector-169_3412.svg"/>
  <div class="group-169-3413" name="Group">
   <div class="group-169-3414" name="Group">
   </div>
   <button class="btn-169-3415" type="button">
    <img class="vector-169-3417" src="assets/images/Core/actual-data-dash-board/vector-169_3417.svg"/>
   </button>
   <div class="group-169-3420" name="Group">
    <img class="vector-169-3421" src="assets/images/Core/actual-data-dash-board/vector-169_3421.svg"/>
    <label class="text-169-3426" type="text" value="Base Line">
     Base Line
    </label>
   </div>
  </div>
  <div class="group-169-3427" name="Group">
   <select class="dropdown-169-3428">
    <option selected="" value="">
     Department Baseline
    </option>
   </select>
   <div class="group-169-3433" name="Group">
    <div class="group-169-3434" name="Group">
     <button class="btn-169-3435" type="button">
      <img class="vector-169-3437" src="assets/images/Core/actual-data-dash-board/vector-169_3437.svg"/>
     </button>
     <button class="btn-169-3440" type="button">
      <img class="vector-169-3442" src="assets/images/Core/actual-data-dash-board/vector-169_3442.svg"/>
     </button>
     <button class="btn-169-3445" type="button">
      <img class="vector-169-3447" src="assets/images/Core/actual-data-dash-board/vector-169_3447.svg"/>
     </button>
     <button class="btn-169-3454" type="button">
      <img class="vector-169-3456" src="assets/images/Core/actual-data-dash-board/vector-169_3456.svg"/>
     </button>
     <button class="btn-169-3460" type="button">
      <img class="vector-169-3462" src="assets/images/Core/actual-data-dash-board/vector-169_3462.svg"/>
     </button>
     <button class="btn-169-3466" type="button">
      <img class="vector-169-3468" src="assets/images/Core/actual-data-dash-board/vector-169_3468.svg"/>
     </button>
    </div>
    <button class="btn-169-3470" type="button">
     <img class="vector-169-3472" src="assets/images/Core/actual-data-dash-board/vector-169_3472.svg"/>
    </button>
   </div>
   <select class="dropdown-169-3479">
    <option selected="" value="">
     Time Period
    </option>
   </select>
  </div>
  <button class="btn-169-3483" type="button">
   <img class="vector-169-3486" src="assets/images/Core/actual-data-dash-board/vector-169_3486.svg"/>
   Create what-if analysis
  </button>
  <img class="vector-169-3488" src="assets/images/Core/actual-data-dash-board/vector-169_3488.svg"/>
  <img class="vector-169-3497" src="assets/images/Core/actual-data-dash-board/vector-169_3497.svg"/>
  <div class="group-169-3504" name="Group">
   <div class="group-169-3505" name="Group">
    <div class="group-169-3506" name="Group">
     <select class="dropdown-169-3507">
      <option selected="" value="">
       Base Line
      </option>
     </select>
     <div class="group-169-3514" name="Group">
      <img class="vector-169-3515" src="assets/images/Core/actual-data-dash-board/vector-169_3515.svg"/>
      <label class="text-169-3516" type="text" value="3">
       3
      </label>
     </div>
    </div>
    <div class="group-169-3517" name="Group">
     <select class="dropdown-169-3518">
      <option selected="" value="">
       Base Line
      </option>
     </select>
     <div class="group-169-3525" name="Group">
      <img class="vector-169-3526" src="assets/images/Core/actual-data-dash-board/vector-169_3526.svg"/>
      <label class="text-169-3527" type="text" value="8">
       8
      </label>
     </div>
    </div>
   </div>
   <div class="group-169-3528" name="Group">
    <div class="group-169-3529" name="Group">
     <img class="vector-169-3530" src="assets/images/Core/actual-data-dash-board/vector-169_3530.svg"/>
     <label class="text-169-3543" type="text" value="St. Michael Medical Center: 921409198-87861">
      St. Michael Medical Center: 921409198-87861
     </label>
    </div>
    <button class="btn-169-3544" type="button">
     <img class="vector-169-3547" src="assets/images/Core/actual-data-dash-board/vector-169_3547.svg"/>
     Complete
    </button>
    <button class="btn-169-3549" type="button">
     <img class="vector-169-3551" src="assets/images/Core/actual-data-dash-board/vector-169_3551.svg"/>
    </button>
   </div>
  </div>
  <div class="group-169-3552" name="Group">
   <div class="group-169-3553" name="Group">
   </div>
   <div class="group-169-3554" name="Group">
    <div class="group-169-3555" name="Group">
     <div class="group-169-3556" name="Group">
      <div class="group-169-3557" name="Group">
       <label class="text-169-3558" type="text" value="Emergency Room">
        Emergency Room
       </label>
       <div class="group-169-3559" name="Group">
        <label class="text-169-3560" type="text" value="Dept: Type">
         Dept: Type
        </label>
        <img class="vector-169-3561" src="assets/images/Core/actual-data-dash-board/vector-169_3561.svg"/>
       </div>
      </div>
      <div class="group-169-3565" name="Group">
       <div class="group-169-3566" name="Group">
        <img class="vector-169-3567" src="assets/images/Core/actual-data-dash-board/vector-169_3567.svg"/>
        <label class="text-169-3569" type="text" value="Site1_ED">
         Site1_ED
        </label>
        <label class="text-169-3570" type="text" value="Dept: Group">
         Dept: Group
        </label>
       </div>
      </div>
      <div class="group-169-3571" name="Group">
       <div class="group-169-3572" name="Group">
        <img class="vector-169-3573" src="assets/images/Core/actual-data-dash-board/vector-169_3573.svg"/>
        <label class="text-169-3575" type="text" value="Registered Nurses">
         Registered Nurses
        </label>
        <label class="text-169-3576" type="text" value="Resource Group">
         Resource Group
        </label>
        <div class="group-169-3577" name="Group">
         <div class="group-169-3578" name="Group">
          <div class="group-169-3579" name="Group">
          </div>
          <label class="text-169-3580" type="text" value="+3">
           +3
          </label>
         </div>
        </div>
       </div>
      </div>
      <div class="group-169-3581" name="Group">
       <div class="group-169-3582" name="Group">
        <img class="vector-169-3583" src="assets/images/Core/actual-data-dash-board/vector-169_3583.svg"/>
        <label class="text-169-3585" type="text" value="March 01,2023  10:33 AM">
         March 01,2023  10:33 AM
        </label>
        <label class="text-169-3586" type="text" value="Created On">
         Created On
        </label>
       </div>
      </div>
      <div class="group-169-3587" name="Group">
       <div class="group-169-3588" name="Group">
        <div class="group-169-3589" name="Group">
         <img class="vector-169-3590" src="assets/images/Core/actual-data-dash-board/vector-169_3590.svg"/>
         <label class="text-169-3592" type="text" value="921409198-87861">
          921409198-87861
         </label>
         <label class="text-169-3593" type="text" value="Base Line ID">
          Base Line ID
         </label>
        </div>
       </div>
      </div>
     </div>
     <div class="group-169-3594" name="Group">
      <div class="group-169-3595" name="Group">
       <div class="group-169-3596" name="Group">
        <div class="group-169-3597" name="Group">
         <div class="group-169-3598" name="Group">
          <div class="group-169-3599" name="Group">
           <label class="text-169-3600" type="text" value="Shift Duration">
            Shift Duration
           </label>
           <label class="text-169-3601" type="text" value="5-10">
            5-10
           </label>
           <img class="vector-169-3602" src="assets/images/Core/actual-data-dash-board/vector-169_3602.svg"/>
           <label class="text-169-3604" type="text" value="Hours">
            Hours
           </label>
          </div>
         </div>
        </div>
       </div>
      </div>
      <div class="group-169-3605" name="Group">
       <div class="group-169-3606" name="Group">
        <div class="group-169-3607" name="Group">
         <label class="text-169-3608" type="text" value="Start Date ">
          Start Date
         </label>
         <div class="group-169-3609" name="Group">
          <label class="text-169-3610" type="text" value="03 Jan 2023">
           03 Jan 2023
          </label>
         </div>
         <img class="vector-169-3611" src="assets/images/Core/actual-data-dash-board/vector-169_3611.svg"/>
        </div>
       </div>
      </div>
      <div class="group-169-3613" name="Group">
       <div class="group-169-3614" name="Group">
        <div class="group-169-3615" name="Group">
         <img class="vector-169-3616" src="assets/images/Core/actual-data-dash-board/vector-169_3616.svg"/>
         <div class="group-169-3618" name="Group">
          <div class="group-169-3619" name="Group">
           <label class="text-169-3620" type="text" value="End Date">
            End Date
           </label>
          </div>
          <div class="group-169-3621" name="Group">
           <div class="group-169-3622" name="Group">
            <label class="text-169-3623" type="text" value="31 Jan  2023">
             31 Jan  2023
            </label>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
      <div class="group-169-3624" name="Group">
       <div class="group-169-3625" name="Group">
        <div class="group-169-3626" name="Group">
         <div class="group-169-3627" name="Group">
          <label class="text-169-3628" type="text" value="Latest Start Time Scale ">
           Latest Start Time Scale
          </label>
          <label class="text-169-3629" type="text" value="03">
           03
          </label>
          <img class="vector-169-3630" src="assets/images/Core/actual-data-dash-board/vector-169_3630.svg"/>
         </div>
        </div>
       </div>
      </div>
      <div class="group-169-3632" name="Group">
       <div class="group-169-3633" name="Group">
        <div class="group-169-3634" name="Group">
         <label class="text-169-3635" type="text" value="Transition Scale ">
          Transition Scale
         </label>
         <label class="text-169-3636" type="text" value="03">
          03
         </label>
         <img class="vector-169-3637" src="assets/images/Core/actual-data-dash-board/vector-169_3637.svg"/>
        </div>
       </div>
      </div>
     </div>
    </div>
    <img class="vector-169-3643" src="assets/images/Core/actual-data-dash-board/vector-169_3643.svg"/>
   </div>
  </div>
  <div class="group-169-3644" name="Group">
   <div class="group-169-3645" name="Group">
    <label class="text-169-3646" type="text" value="Polaris Optimal">
     Polaris Optimal
    </label>
    <label class="text-169-3647" type="text" value="Cost savings">
     Cost savings
    </label>
    <label class="text-169-3648" type="text" value="$865 654">
     $865 654
    </label>
    <img class="vector-169-3649" src="assets/images/Core/actual-data-dash-board/vector-169_3649.svg"/>
    <div class="group-169-3651" name="Group">
     <img class="vector-169-3652" src="assets/images/Core/actual-data-dash-board/vector-169_3652.svg"/>
     <label class="text-169-3654" type="text" value="+ 3.3 %">
      + 3.3 %
     </label>
    </div>
    <img class="vector-169-3655" src="assets/images/Core/actual-data-dash-board/vector-169_3655.svg"/>
   </div>
  </div>
  <div class="group-169-3660" name="Group">
   <select class="dropdown-169-3661">
    <option selected="" value="">
     Shift Duration Time
    </option>
   </select>
   <select class="dropdown-169-3665">
    <option selected="" value="">
     Day Of The Week
    </option>
   </select>
   <select class="dropdown-169-3669">
    <option selected="" value="">
     Resource Group
    </option>
   </select>
   <button class="btn-169-3673" type="button">
    <img class="vector-169-3676" src="assets/images/Core/actual-data-dash-board/vector-169_3676.svg"/>
    What If Scenario A
   </button>
   <select class="dropdown-169-3679">
    <option selected="" value="">
     View
    </option>
   </select>
   <div class="group-169-3683" name="Group">
    <div class="group-169-3684" name="Group">
     <label class="text-169-3685" type="text" value="1D">
      1D
     </label>
     <label class="text-169-3686" type="text" value="1M">
      1M
     </label>
     <label class="text-169-3687" type="text" value="3M">
      3M
     </label>
     <label class="text-169-3688" type="text" value="6M">
      6M
     </label>
     <img class="vector-169-3689" src="assets/images/Core/actual-data-dash-board/vector-169_3689.svg"/>
     <label class="text-169-3691" type="text" value="7D">
      7D
     </label>
    </div>
   </div>
   <img class="vector-169-3692" src="assets/images/Core/actual-data-dash-board/vector-169_3692.svg"/>
  </div>
  <img class="vector-169-3696" src="assets/images/Core/actual-data-dash-board/vector-169_3696.svg"/>
  <div class="group-169-3937" name="Group">
   <div class="group-169-3938" name="Group">
    <div class="group-169-3939" name="Group">
    </div>
    <div class="group-169-3940" name="Group">
     <div class="group-169-3941" name="Group">
     </div>
     <div class="group-169-3942" name="Group">
      <img class="vector-169-3943" src="assets/images/Core/actual-data-dash-board/vector-169_3943.svg"/>
      <label class="text-169-3947" type="text" value="Performance analysis">
       Performance analysis
      </label>
     </div>
     <div class="group-169-3948" name="Group">
      <button class="btn-169-3949" type="button">
       <img class="vector-169-3951" src="assets/images/Core/actual-data-dash-board/vector-169_3951.svg"/>
      </button>
      <button class="btn-169-3953" type="button">
       <img class="vector-169-3955" src="assets/images/Core/actual-data-dash-board/vector-169_3955.svg"/>
      </button>
     </div>
    </div>
   </div>
   <img class="vector-169-3958" src="assets/images/Core/actual-data-dash-board/vector-169_3958.svg"/>
   <div class="group-169-3980" name="Group">
    <div class="group-169-3981" name="Group">
    </div>
    <label class="text-169-3982" type="text" value="Pending actual data for time period">
     Pending actual data for time period
    </label>
   </div>
  </div>
 </div>
 <div class="group-169-3983" name="Group">
  <div class="group-169-3984" name="Group">
  </div>
  <label class="text-169-3985" type="text" value="Dash Board">
   Dash Board
  </label>
  <img class="vector-169-3986" src="assets/images/Core/actual-data-dash-board/vector-169_3986.svg"/>
  <label class="text-169-3987" type="text" value="Information snippet and management from Base Line, What-if, and Performance analysis pages">
   Information snippet and management from Base Line, What-if, and Performance analysis pages
  </label>
 </div>
 <div class="group-169-3988" name="Group">
  <div class="group-169-3989" name="Group">
  </div>
  <img class="vector-169-3990" src="assets/images/Core/actual-data-dash-board/vector-169_3990.svg"/>
  <img class="vector-169-4015" src="assets/images/Core/actual-data-dash-board/vector-169_4015.svg"/>
  <button class="btn-169-4016" type="button">
   <img class="vector-169-4019" src="assets/images/Core/actual-data-dash-board/vector-169_4019.svg"/>
   Create Baseline
  </button>
  <img class="vector-169-4021" src="assets/images/Core/actual-data-dash-board/vector-169_4021.svg"/>
  <img class="vector-169-4026" src="assets/images/Core/actual-data-dash-board/vector-169_4026.svg"/>
 </div>
</div>
