<div class="corebaselinecreationor-169-4626" name="Core@Baseline creation OR">
 <div class="group-169-4627" name="Group">
 </div>
 <div class="group-169-4628" name="Group">
  <div class="group-169-4629" name="Group">
   <div class="group-169-4630" name="Group">
   </div>
   <select class="dropdown-169-4631">
    <option selected="" value="">
     Resource Group
    </option>
   </select>
   <div class="group-169-4634" name="Group">
    <div class="group-169-4635" name="Group">
    </div>
    <label class="text-169-4636" type="text" value="6 AM  -  2 PM">
     6 AM  -  2 PM
    </label>
   </div>
   <div class="group-169-4637" name="Group">
    <div class="group-169-4638" name="Group">
    </div>
    <label class="text-169-4639" type="text" value="2 PM  -  9 PM">
     2 PM  -  9 PM
    </label>
   </div>
  </div>
  <div class="group-169-4640" name="Group">
   <div class="group-169-4641" name="Group">
   </div>
   <div class="group-169-4642" name="Group">
    <label class="text-169-4643" type="text" value="Base Line Name 001">
     Base Line Name 001
    </label>
    <div class="group-169-4644" name="Group">
     <div class="group-169-4645" name="Group">
      <div class="group-169-4646" name="Group">
       <div class="group-169-4647" name="Group">
       </div>
       <img class="vector-169-4648" src="assets/images/Core/baseline-creation-or/vector-169_4648.svg"/>
       <label class="text-169-4650" type="text" value="Base Line ID">
        Base Line ID
       </label>
      </div>
      <label class="text-169-4651" type="text" value="921409198-87861">
       921409198-87861
      </label>
     </div>
     <label class="text-169-4652" type="text" value="Private">
      Private
     </label>
     <img class="vector-169-4653" src="assets/images/Core/baseline-creation-or/vector-169_4653.svg"/>
    </div>
   </div>
  </div>
  <div class="group-169-4657" name="Group">
   <div class="group-169-4658" name="Group">
   </div>
   <div class="group-169-4659" name="Group">
    <label class="text-169-4660" type="text" value="Department Type">
     Department Type
    </label>
    <img class="vector-169-4661" src="assets/images/Core/baseline-creation-or/vector-169_4661.svg"/>
    <label class="text-169-4664" type="text" value="Operating 
Room">
     Operating 
Room
    </label>
   </div>
   <img class="vector-169-4665" src="assets/images/Core/baseline-creation-or/vector-169_4665.svg"/>
   <div class="group-169-4666" name="Group">
    <label class="text-169-4667" type="text" value="Department Group">
     Department Group
    </label>
    <img class="vector-169-4668" src="assets/images/Core/baseline-creation-or/vector-169_4668.svg"/>
    <label class="text-169-4671" type="text" value="Site1_OR">
     Site1_OR
    </label>
   </div>
   <img class="vector-169-4672" src="assets/images/Core/baseline-creation-or/vector-169_4672.svg"/>
   <div class="group-169-4673" name="Group">
    <label class="text-169-4674" type="text" value="Ratio Scale">
     Ratio Scale
    </label>
    <label class="text-169-4675" type="text" value="01">
     01
    </label>
   </div>
   <img class="vector-169-4676" src="assets/images/Core/baseline-creation-or/vector-169_4676.svg"/>
   <div class="group-169-4677" name="Group">
    <label class="text-169-4678" type="text" value="number of weeks">
     number of weeks
    </label>
    <label class="text-169-4679" type="text" value="03">
     03
    </label>
    <label class="text-169-4680" type="text" value="Weeks">
     Weeks
    </label>
   </div>
   <img class="vector-169-4681" src="assets/images/Core/baseline-creation-or/vector-169_4681.svg"/>
   <div class="group-169-4682" name="Group">
    <label class="text-169-4683" type="text" value="start date">
     start date
    </label>
    <label class="text-169-4684" type="text" value="02">
     02
    </label>
    <label class="text-169-4685" type="text" value="Jan 2023">
     Jan 2023
    </label>
   </div>
   <img class="vector-169-4686" src="assets/images/Core/baseline-creation-or/vector-169_4686.svg"/>
   <div class="group-169-4687" name="Group">
    <label class="text-169-4688" type="text" value="end date">
     end date
    </label>
    <label class="text-169-4689" type="text" value="23">
     23
    </label>
    <label class="text-169-4690" type="text" value="Jan 2023">
     Jan 2023
    </label>
   </div>
  </div>
  <img class="vector-169-4691" src="assets/images/Core/baseline-creation-or/vector-169_4691.svg"/>
  <div class="group-169-5445" name="Group">
   <div class="group-169-5446" name="Group">
    <div class="group-169-5447" name="Group">
    </div>
    <label class="text-169-5448" type="text" value="Cancel">
     Cancel
    </label>
   </div>
   <div class="group-169-5449" name="Group">
    <div class="group-169-5450" name="Group">
    </div>
    <label class="text-169-5451" type="text" value="Run">
     Run
    </label>
   </div>
  </div>
 </div>
</div>
