

.corebaselinecreationor-169-4626{
position:'' ;width: 100%; height: auto;  background-color: rgba(244,244,244,1.0);top:0px; left: 0;background:''}

.group-169-4627{
position:absolute ;width: 1372.0px; height: 1096.0px;  background-color: rgba(255,255,255,1.0);top:201px; left: calc( ( ( 100% - 1440px) / 2 ) + 28px);background:''}

.group-169-4628{
position:absolute ;width: 1141.0px; height: 1096.0px;  background-color: rgba(255,255,255,1.0);top:201px; left: calc( ( ( 100% - 1440px) / 2 ) + 248px);background:''}

.group-169-4629{
position:absolute ;width: 1140.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:10px; left: 1px;background:''}

.group-169-4630{
position:absolute ;width: 1140.0px; height: 44.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;border-radius: 7.0px;background:''}

.dropdown-169-4631{
position: absolute;left: 7.0px; top: 7.0px;; width: 210.0px; height: 30.0px;
font-size: 12.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold;
}

.group-169-4634{
position:absolute ;width: 117.0px; height: 31.0px;  background-color: rgba(0,0,0,0.0);top:7px; left: 892px;border-radius: 4.0px;background:''}

.group-169-4635{
position:absolute ;width: 117.0px; height: 31.0px;  background-color: rgba(239,242,245,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(255, 255, 255, 1.0);border-style:solid;background:''}

.text-169-4636{
position: absolute;
left: 17.0px;
 top: 11.0px;
 width: 84.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(44, 41, 41, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-169-4637{
position:absolute ;width: 117.0px; height: 31.0px;  background-color: rgba(0,0,0,0.0);top:7px; left: 1016px;border-radius: 4.0px;background:''}

.group-169-4638{
position:absolute ;width: 117.0px; height: 31.0px;  background-color: rgba(239,242,245,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(255, 255, 255, 1.0);border-style:solid;background:''}

.text-169-4639{
position: absolute;
left: 17.0px;
 top: 11.0px;
 width: 83.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(44, 41, 41, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-169-4640{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:74px; left: 0px;background:''}

.group-169-4641{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.group-169-4642{
position:absolute ;width: 351.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:13px; left: 20px;background:''}

.text-169-4643{
position: absolute;
left: 0.0px;
 top: 6.0px;
 width: 149.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-169-4644{
position:absolute ;width: 306.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:2px; left: 809px;background:''}

.group-169-4645{
position:absolute ;width: 205.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-169-4646{
position:absolute ;width: 105.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-169-4647{
position:absolute ;width: 105.0px; height: 22.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;background:''}

.vector-169-4648{
position: absolute;left: 4.0px; top: 4.0px; width: 13.0px; height: 13.0}

.text-169-4650{
position: absolute;
left: 24.0px;
 top: 7.0px;
 width: 69.0px;
 height: 7.0px;
font-size: 10.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-169-4651{
position: absolute;
left: 114.0px;
 top: 7.0px;
 width: 91.0px;
 height: 8.0px;
font-size: 12.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-169-4652{
position: absolute;
left: 238.0px;
 top: 7.0px;
 width: 44.0px;
 height: 8.0px;
font-size: 12.0px; color: rgba(0, 0, 0, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.vector-169-4653{
position: absolute;left: 282.0px; top: 0.0px; width: 24.0px; height: 22.0}

.group-169-4657{
position:absolute ;width: 1138.0px; height: 152.0001220703125px;  background-color: rgba(0,0,0,0.0);top:139px; left: 0px;background:''}

.group-169-4658{
position:absolute ;width: 1138.0px; height: 152.0px;  background-color: rgba(255,255,255,1.0);top:1px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-169-4659{
position:absolute ;width: 119.017578125px; height: 83.5518798828125px;  background-color: rgba(0,0,0,0.0);top:28px; left: 29px;background:''}

.text-169-4660{
position: absolute;
left: 1.0px;
 top: 0.4481201171875px;
 width: 118.017578125px;
 height: 17.313720703125px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-169-4661{
position: absolute;left: 0.0px; top: 48.0px; width: 13.0px; height: 12.0}

.text-169-4664{
position: absolute;
left: 21.0px;
 top: 48.0px;
 width: 93.0px;
 height: 36.0px;
font-size: 18.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.vector-169-4665{
position: absolute;left: 176.0px; top: 0.0px; width: 1.0px; height: 152.0}

.group-169-4666{
position:absolute ;width: 133.017578125px; height: 63.0009765625px;  background-color: rgba(0,0,0,0.0);top:26px; left: 211px;background:''}

.text-169-4667{
position: absolute;
left: 0.0px;
 top: 0.9990234375px;
 width: 133.017578125px;
 height: 17.3839111328125px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-169-4668{
position: absolute;left: 13.0px; top: 51.0px; width: 13.0px; height: 12.0}

.text-169-4671{
position: absolute;
left: 32.0px;
 top: 51.0px;
 width: 72.0px;
 height: 13.0px;
font-size: 18.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.vector-169-4672{
position: absolute;left: 386.0px; top: 0.0px; width: 1.0px; height: 152.0}

.group-169-4673{
position:absolute ;width: 83.007568359375px; height: 71.83544921875px;  background-color: rgba(0,0,0,0.0);top:32px; left: 447px;background:''}

.text-169-4674{
position: absolute;
left: 0.00439453125px;
 top: 0.16455078125px;
 width: 83.007568359375px;
 height: 8.38818359375px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.text-169-4675{
position: absolute;
left: 17.0px;
 top: 44.0px;
 width: 39.0px;
 height: 28.0px;
font-size: 40.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.vector-169-4676{
position: absolute;left: 600.0px; top: 0.0px; width: 1.0px; height: 152.0}

.group-169-4677{
position:absolute ;width: 122.017578125px; height: 107.743896484375px;  background-color: rgba(0,0,0,0.0);top:28px; left: 638px;background:''}

.text-169-4678{
position: absolute;
left: 0.052734375px;
 top: 0.4293212890625px;
 width: 122.017578125px;
 height: 17.33251953125px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.text-169-4679{
position: absolute;
left: 35.0px;
 top: 48.0px;
 width: 46.0px;
 height: 28.0px;
font-size: 40.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.text-169-4680{
position: absolute;
left: 39.0px;
 top: 86.0px;
 width: 47.0px;
 height: 22.1732177734375px;
font-size: 14.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-Light; font-weight: 400;
}

.vector-169-4681{
position: absolute;left: 798.0px; top: 0.0px; width: 1.0px; height: 152.0}

.group-169-4682{
position:absolute ;width: 75.017578125px; height: 108.999267578125px;  background-color: rgba(0,0,0,0.0);top:28px; left: 836px;background:''}

.text-169-4683{
position: absolute;
left: 0.0703125px;
 top: 0.000732421875px;
 width: 75.017578125px;
 height: 17.1126708984375px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.text-169-4684{
position: absolute;
left: 15.0px;
 top: 48.0px;
 width: 46.0px;
 height: 28.0px;
font-size: 40.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.text-169-4685{
position: absolute;
left: 10.0px;
 top: 87.0px;
 width: 61.0px;
 height: 22.0px;
font-size: 14.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-Light; font-weight: 400;
}

.vector-169-4686{
position: absolute;left: 957.0px; top: 0.0px; width: 1.0px; height: 152.0}

.group-169-4687{
position:absolute ;width: 63.0px; height: 103.0009765625px;  background-color: rgba(0,0,0,0.0);top:27px; left: 1023px;background:''}

.text-169-4688{
position: absolute;
left: 0.0px;
 top: 0.9990234375px;
 width: 62.017822265625px;
 height: 17.0518798828125px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.text-169-4689{
position: absolute;
left: 5.0px;
 top: 49.0px;
 width: 43.0px;
 height: 28.0px;
font-size: 40.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.text-169-4690{
position: absolute;
left: 0.0px;
 top: 87.0px;
 width: 63.0px;
 height: 17.0px;
font-size: 14.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-Light; font-weight: 400;
}

.vector-169-4691{
position: absolute;left: 0.0px; top: 307.0px; width: 1138.0px; height: 536.46142578125}

.group-169-5445{
position:absolute ;width: 176.0px; height: 40.0px;  background-color: rgba(0,0,0,0.0);top:890px; left: 965px;border-radius: 2.0px;background:''}

.group-169-5446{
position:absolute ;width: 81.0px; height: 40.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.group-169-5447{
position:absolute ;width: 81.0px; height: 40.0px;  background-color: rgba(214,214,214,1.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.text-169-5448{
position: absolute;
left: 11.0px;
 top: 15.0px;
 width: 59.0px;
 height: 10.047607421875px;
font-size: 14.0px; color: rgba(140, 140, 140, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-169-5449{
position:absolute ;width: 81.0px; height: 40.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 95px;border-radius: 2.0px;background:''}

.group-169-5450{
position:absolute ;width: 81.0px; height: 40.0px;  background-color: rgba(34,52,132,1.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.text-169-5451{
position: absolute;
left: 26.0px;
 top: 15.0px;
 width: 30.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}