<div class="corebaselinelistfinal-169-4029" name="Core@Base line list Final">
 <div class="group-169-4030" name="Group">
  <div class="group-169-4031" name="Group">
  </div>
  <label class="text-169-4032" type="text" value="©2021 polarishealth.ai- All Rights Reserved.">
   ©2021 polarishealth.ai- All Rights Reserved.
  </label>
 </div>
 <div class="group-169-4033" name="Group">
  <div class="group-169-4034" name="Group">
  </div>
  <div class="group-169-4035" name="Group">
   <div class="group-169-4036" name="Group">
   </div>
   <img class="vector-169-4037" src="assets/images/Core/base-line-list-final/vector-169_4037.svg"/>
   <div class="group-169-4038" name="Group">
   </div>
   <div class="group-169-4039" name="Group">
    <div class="group-169-4040" name="Group">
    </div>
    <img class="vector-169-4041" src="assets/images/Core/base-line-list-final/vector-169_4041.svg"/>
    <img class="vector-169-4042" src="assets/images/Core/base-line-list-final/vector-169_4042.svg"/>
    <div class="group-169-4053" name="Group">
     <img class="vector-169-4054" src="assets/images/Core/base-line-list-final/vector-169_4054.svg"/>
    </div>
   </div>
   <div class="group-169-4065" name="Group">
    <img class="img-169-4066" src="assets/images/Core/base-line-list-final/img-169_4066.png"/>
    <img class="img-169-4067" src="assets/images/Core/base-line-list-final/img-169_4067.png"/>
    <img class="img-169-4068" src="assets/images/Core/base-line-list-final/img-169_4068.png"/>
    <button class="btn-169-4069" type="button">
     +3
    </button>
   </div>
   <div class="group-169-4073" name="Group">
    <div class="group-169-4074" name="Group">
    </div>
    <div class="group-169-4075" name="Group">
     <img class="vector-169-4076" src="assets/images/Core/base-line-list-final/vector-169_4076.svg"/>
     <img class="vector-169-4078" src="assets/images/Core/base-line-list-final/vector-169_4078.svg"/>
     <div class="checkbox-169-4082">
      <lib-quick-radiocheck [config]="checkboxconfig1694082">
      </lib-quick-radiocheck>
     </div>
    </div>
   </div>
   <div class="group-169-4084" name="Group">
    <div class="group-169-4085" name="Group">
     <div class="group-169-4086" name="Group">
     </div>
     <img class="vector-169-4087" src="assets/images/Core/base-line-list-final/vector-169_4087.svg"/>
     <label class="text-169-4089" type="text" value="921409198-87861">
      921409198-87861
     </label>
     <label class="text-169-4090" type="text" value="Base Line ID">
      Base Line ID
     </label>
    </div>
    <div class="group-169-4091" name="Group">
     <div class="group-169-4092" name="Group">
     </div>
     <img class="vector-169-4093" src="assets/images/Core/base-line-list-final/vector-169_4093.svg"/>
     <label class="text-169-4095" type="text" value="Emergency Room">
      Emergency Room
     </label>
     <label class="text-169-4096" type="text" value="Dept: Type">
      Dept: Type
     </label>
    </div>
    <div class="group-169-4097" name="Group">
     <div class="group-169-4098" name="Group">
     </div>
     <img class="vector-169-4099" src="assets/images/Core/base-line-list-final/vector-169_4099.svg"/>
     <label class="text-169-4101" type="text" value="Site1_ED">
      Site1_ED
     </label>
     <label class="text-169-4102" type="text" value="Dept: Group">
      Dept: Group
     </label>
    </div>
    <div class="group-169-4103" name="Group">
     <div class="group-169-4104" name="Group">
     </div>
     <img class="vector-169-4105" src="assets/images/Core/base-line-list-final/vector-169_4105.svg"/>
     <label class="text-169-4107" type="text" value="Registered Nurses">
      Registered Nurses
     </label>
     <label class="text-169-4108" type="text" value="Resource Group">
      Resource Group
     </label>
    </div>
    <div class="group-169-4109" name="Group">
     <div class="group-169-4110" name="Group">
     </div>
     <img class="vector-169-4111" src="assets/images/Core/base-line-list-final/vector-169_4111.svg"/>
     <label class="text-169-4113" type="text" value="March 01,2023  10:33 AM">
      March 01,2023  10:33 AM
     </label>
     <label class="text-169-4114" type="text" value="Created On">
      Created On
     </label>
    </div>
    <div class="group-169-4115" name="Group">
     <button class="btn-169-4116" type="button">
      <img class="vector-169-4118" src="assets/images/Core/base-line-list-final/vector-169_4118.svg"/>
     </button>
     <button class="btn-169-4122" type="button">
      <img class="vector-169-4124" src="assets/images/Core/base-line-list-final/vector-169_4124.svg"/>
     </button>
    </div>
   </div>
   <div class="group-169-4128" name="Group">
    <select class="dropdown-169-4129">
     <option selected="" value="">
      Link To
     </option>
    </select>
   </div>
   <div class="group-169-4136" name="Group">
    <div class="group-169-4137" name="Group">
     <div class="group-169-4138" name="Group">
      <div class="group-169-4139" name="Group">
      </div>
      <img class="vector-169-4140" src="assets/images/Core/base-line-list-final/vector-169_4140.svg"/>
      <label class="text-169-4142" type="text" value="Description">
       Description
      </label>
     </div>
     <label class="text-169-4143" type="text" value="The schedule is being created, with Transition scale of 3, and Ratio scale of 1.  The shift duration can vary from 5 to 10 hours. The latest start for a shift is 2 PM.">
      The schedule is being created, with Transition scale of 3, and Ratio scale of 1.  The shift duration can vary from 5 to 10 hours. The latest start for a shift is 2 PM.
     </label>
    </div>
    <label class="text-169-4144" type="text" value="*The current shift data statistics show there is a good chance to find an optimal result.by optimising via what-if analysis.">
     *The current shift data statistics show there is a good chance to find an optimal result.by optimising via what-if analysis.
    </label>
   </div>
   <div class="group-169-4145" name="Group">
    <button class="btn-169-4146" type="button">
     <img class="vector-169-4148" src="assets/images/Core/base-line-list-final/vector-169_4148.svg"/>
    </button>
    <button class="btn-169-4151" type="button">
     <img class="vector-169-4153" src="assets/images/Core/base-line-list-final/vector-169_4153.svg"/>
    </button>
    <button class="btn-169-4156" type="button">
     <img class="vector-169-4158" src="assets/images/Core/base-line-list-final/vector-169_4158.svg"/>
    </button>
    <button class="btn-169-4165" type="button">
     <img class="vector-169-4167" src="assets/images/Core/base-line-list-final/vector-169_4167.svg"/>
    </button>
    <button class="btn-169-4171" type="button">
     <img class="vector-169-4173" src="assets/images/Core/base-line-list-final/vector-169_4173.svg"/>
    </button>
    <button class="btn-169-4177" type="button">
     <img class="vector-169-4179" src="assets/images/Core/base-line-list-final/vector-169_4179.svg"/>
    </button>
   </div>
   <div class="group-169-4181" name="Group">
    <img class="vector-169-4182" src="assets/images/Core/base-line-list-final/vector-169_4182.svg"/>
    <label class="text-169-4196" type="text" value="Base Line Name ABCD">
     Base Line Name ABCD
    </label>
   </div>
   <img class="vector-169-4197" src="assets/images/Core/base-line-list-final/vector-169_4197.svg"/>
   <div class="group-169-4198" name="Group">
    <div class="group-169-4199" name="Group">
    </div>
    <img class="vector-169-4200" src="assets/images/Core/base-line-list-final/vector-169_4200.svg"/>
    <label class="text-169-4208" type="text" value="Lorem ipsum dolor sit amet consectetur. Elementum nisl facilisis...
">
     Lorem ipsum dolor sit amet consectetur. Elementum nisl facilisis...
    </label>
    <button class="btn-169-4209" type="button">
     <img class="vector-169-4211" src="assets/images/Core/base-line-list-final/vector-169_4211.svg"/>
    </button>
   </div>
   <label class="text-169-4213" type="text" value="Collaborators">
    Collaborators
   </label>
  </div>
 </div>
 <div class="group-169-4214" name="Group">
  <div class="group-169-4215" name="Group">
  </div>
  <div class="group-169-4216" name="Group">
   <img class="vector-169-4217" src="assets/images/Core/base-line-list-final/vector-169_4217.svg"/>
   <label class="text-169-4222" type="text" value="Base Lines">
    Base Lines
   </label>
  </div>
  <button class="btn-169-4223" type="button">
   <img class="vector-169-4225" src="assets/images/Core/base-line-list-final/vector-169_4225.svg"/>
  </button>
  <button class="btn-169-4229" type="button">
   <img class="vector-169-4231" src="assets/images/Core/base-line-list-final/vector-169_4231.svg"/>
  </button>
 </div>
 <div class="group-169-4233" name="Group">
  <div class="group-169-4234" name="Group">
  </div>
  <label class="text-169-4235" type="text" value="Base line List">
   Base line List
  </label>
  <label class="text-169-4236" type="text" value="The main list of the ‘Base Lines’ section">
   The main list of the ‘Base Lines’ section
  </label>
  <img class="vector-169-4237" src="assets/images/Core/base-line-list-final/vector-169_4237.svg"/>
  <div class="group-169-4238" name="Group">
   <button class="btn-169-4239" type="button">
    <img class="vector-169-4242" src="assets/images/Core/base-line-list-final/vector-169_4242.svg"/>
    Create Base line
   </button>
  </div>
 </div>
 <div class="group-169-4244" name="Group">
  <div class="group-169-4245" name="Group">
  </div>
  <img class="vector-169-4246" src="assets/images/Core/base-line-list-final/vector-169_4246.svg"/>
  <img class="vector-169-4249" src="assets/images/Core/base-line-list-final/vector-169_4249.svg"/>
  <img class="vector-169-4274" src="assets/images/Core/base-line-list-final/vector-169_4274.svg"/>
  <img class="vector-169-4275" src="assets/images/Core/base-line-list-final/vector-169_4275.svg"/>
  <button class="btn-169-4279" type="button">
   <img class="vector-169-4282" src="assets/images/Core/base-line-list-final/vector-169_4282.svg"/>
   back to dashboard
  </button>
 </div>
</div>
