

.corebaselinelistfinal-169-4029{
position:'' ;width: 100%; height: auto;  background-color: rgba(244,244,244,1.0);top:0px; left: 0;background:''}

.group-169-4030{
position:absolute ;width: 1440.0px; height: 41.0px;  background-color: rgba(0,0,0,0.0);top:1079px; left: calc( ( ( 100% - 1440px) / 2 ) + 0px);background:''}

.group-169-4031{
position:absolute ;width: 1440.0px; height: 41.0px;  background-color: rgba(244,244,244,1.0);top:0px; left: 0px;box-shadow: 0.0px -1.0px 5.0px rgba(0, 0, 0, 0.10000000149011612);background:''}

.text-169-4032{
position: absolute;
left: 27.0px;
 top: 10.0px;
 width: 241.0px;
 height: 21.0px;
font-size: 12.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.group-169-4033{
position:absolute ;width: 1373.0px; height: 845.0px;  background-color: rgba(255,255,255,1.0);top:201px; left: calc( ( ( 100% - 1440px) / 2 ) + 27px);background:''}

.group-169-4034{
position:absolute ;width: 1373.0px; height: 845.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;background:''}

.group-169-4035{
position:absolute ;width: 1353.0px; height: 147.0px;  background-color: rgba(0,0,0,0.0);top:8px; left: 9px;background:''}

.group-169-4036{
position:absolute ;width: 1353.0px; height: 147.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-color:rgba(0, 0, 0, 0.05000000074505806);border-style:solid;background:''}

.vector-169-4037{
position: absolute;left: 1080.0px; top: 91.5px; width: 273.0px; height: 1.0}

.group-169-4038{
position:absolute ;width: 542.0px; height: 147.0px;  background-color: rgba(250,250,250,1.0);top:0px; left: 514px;border-color:rgba(0, 0, 0, 0.05000000074505806);border-style:solid;background:''}

.group-169-4039{
position:absolute ;width: 400.0px; height: 55.0px;  background-color: rgba(0,0,0,0.0);top:92px; left: 656px;background:''}

.group-169-4040{
position:absolute ;width: 400.0px; height: 55.0px;  background-color: rgba(203,203,203,0.10000000149011612);top:0px; left: 0px;border-color:rgba(0, 0, 0, 0.05000000074505806);border-style:solid;background:''}

.vector-169-4041{
position: absolute;left: 198.5px; top: 0.0px; width: 1.0px; height: 55.0}

.vector-169-4042{
position: absolute;left: 32.0px; top: 17.0px; width: 127.0px; height: 22.0}

.group-169-4053{
position:absolute ;width: 127.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:17px; left: 236px;background:''}

.vector-169-4054{
position: absolute;left: 0.0px; top: 0.0px; width: 127.0px; height: 22.0}

.group-169-4065{
position:absolute ;width: 107.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:14px; left: 1224px;background:''}

.img-169-4066{
position: absolute;left: 0.0px; top: 0.0px; width: 22.0px; height: 22.0px;}

.img-169-4067{
position: absolute;left: 16.0px; top: 0.0px; width: 21.0px; height: 22.0px;}

.img-169-4068{
position: absolute;left: 31.0px; top: 0.0px; width: 22.0px; height: 22.0px;}

.btn-169-4069{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 56.0px;
 top: 0.0px;
 width: 51.0px;
 height: 21.0px;
border-radius: 4.0px; background-color: rgba(250, 250, 250, 1.0);
 cursor: pointer;
font-size: 12.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold; text-transform: uppercase; font-weight: 400;
}

.group-169-4073{
position:absolute ;width: 41.0px; height: 147.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-169-4074{
position:absolute ;width: 41.0px; height: 147.0px;  background-color: rgba(236,239,255,1.0);top:0px; left: 0px;border-color:rgba(0, 0, 0, 0.05000000074505806);border-style:solid;background:''}

.group-169-4075{
position:absolute ;width: 24.0px; height: 113.0px;  background-color: rgba(0,0,0,0.0);top:17px; left: 9px;background:''}

.vector-169-4076{
position: absolute;left: 2.0px; top: 43.0px; width: 20.0px; height: 20.0}

.vector-169-4078{
position: absolute;left: 0.0px; top: 91.0px; width: 24.0px; height: 22.0}

.checkbox-169-4082{
position: absolute;left: 5.0px; top: 0.0px; width: 15.0px; height: 15.0px;}

.group-169-4084{
position:absolute ;width: 412.9996643066406px; height: 67.3634033203125px;  background-color: rgba(0,0,0,0.0);top:54px; left: 61px;background:''}

.group-169-4085{
position:absolute ;width: 200.48544311523438px; height: 17.6427001953125px;  background-color: rgba(0,0,0,0.0);top:25px; left: 0px;background:''}

.group-169-4086{
position:absolute ;width: 84.20388793945312px; height: 17.6427001953125px;  background-color: rgba(203,203,203,0.10000000149011612);top:0px; left: 0px;border-radius: 3.2077670097351074px;background:''}

.vector-169-4087{
position: absolute;left: 3.207763671875px; top: 3.06793212890625px; width: 10.425247192382812px; height: 10.42523193359375}

.text-169-4089{
position: absolute;
left: 91.4208984375px;
 top: 5.47442626953125px;
 width: 76.0px;
 height: 7.0px;
font-size: 10.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-169-4090{
position: absolute;
left: 19.2470703125px;
 top: 5.47442626953125px;
 width: 54.0px;
 height: 6.0px;
font-size: 8.0px; color: rgba(136, 131, 131, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.group-169-4091{
position:absolute ;width: 202.89126586914062px; height: 17.6427001953125px;  background-color: rgba(0,0,0,0.0);top:25px; left: 211px;background:''}

.group-169-4092{
position:absolute ;width: 75.38252258300781px; height: 17.6427001953125px;  background-color: rgba(203,203,203,0.10000000149011612);top:0px; left: 0px;border-radius: 3.2077670097351074px;background:''}

.vector-169-4093{
position: absolute;left: 2.31640625px; top: 3.068359375px; width: 10.425243377685547px; height: 10.42523193359375}

.text-169-4095{
position: absolute;
left: 84.1142578125px;
 top: 5.4736328125px;
 width: 81.0px;
 height: 7.0px;
font-size: 10.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-169-4096{
position: absolute;
left: 18.3544921875px;
 top: 5.474609375px;
 width: 48.0px;
 height: 6.0px;
font-size: 8.0px; color: rgba(136, 131, 131, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.group-169-4097{
position:absolute ;width: 200.48544311523438px; height: 17.6427001953125px;  background-color: rgba(0,0,0,0.0);top:50px; left: 0px;background:''}

.group-169-4098{
position:absolute ;width: 84.20388793945312px; height: 17.6427001953125px;  background-color: rgba(203,203,203,0.10000000149011612);top:0px; left: 0px;border-radius: 3.2077670097351074px;background:''}

.vector-169-4099{
position: absolute;left: 3.207763671875px; top: 2.928466796875px; width: 10.425247192382812px; height: 10.42523193359375}

.text-169-4101{
position: absolute;
left: 91.4208984375px;
 top: 5.333984375px;
 width: 39.0px;
 height: 7.0px;
font-size: 10.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-169-4102{
position: absolute;
left: 19.2470703125px;
 top: 5.333984375px;
 width: 54.0px;
 height: 6.0px;
font-size: 8.0px; color: rgba(136, 131, 131, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.group-169-4103{
position:absolute ;width: 202.89126586914062px; height: 17.6427001953125px;  background-color: rgba(0,0,0,0.0);top:50px; left: 211px;background:''}

.group-169-4104{
position:absolute ;width: 93.0252456665039px; height: 17.6427001953125px;  background-color: rgba(203,203,203,0.10000000149011612);top:0px; left: 0px;border-radius: 3.2077670097351074px;background:''}

.vector-169-4105{
position: absolute;left: 2.31640625px; top: 2.9287109375px; width: 10.425243377685547px; height: 10.42523193359375}

.text-169-4107{
position: absolute;
left: 104.1630859375px;
 top: 5.333984375px;
 width: 83.0px;
 height: 7.0px;
font-size: 10.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-169-4108{
position: absolute;
left: 18.3544921875px;
 top: 5.333984375px;
 width: 70.0px;
 height: 6.0px;
font-size: 8.0px; color: rgba(136, 131, 131, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.group-169-4109{
position:absolute ;width: 200.48544311523438px; height: 17.6427001953125px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-169-4110{
position:absolute ;width: 84.20388793945312px; height: 17.6427001953125px;  background-color: rgba(203,203,203,0.10000000149011612);top:0px; left: 0px;border-radius: 3.2077670097351074px;background:''}

.vector-169-4111{
position: absolute;left: 4.00970458984375px; top: 3.207763671875px; width: 9.623306274414062px; height: 9.623291015625}

.text-169-4113{
position: absolute;
left: 91.4208984375px;
 top: 5.61328125px;
 width: 110.0px;
 height: 7.0px;
font-size: 10.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-169-4114{
position: absolute;
left: 19.2470703125px;
 top: 5.61328125px;
 width: 51.0px;
 height: 6.0px;
font-size: 8.0px; color: rgba(136, 131, 131, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.group-169-4115{
position:absolute ;width: 202.89126586914062px; height: 17.6427001953125px;  background-color: rgba(0,0,0,0.0);top:0px; left: 211px;background:''}

.vector-169-4118{
position: relative; width: 7.0px; height: 9.79998779296875}

.btn-169-4116{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 0.8916015625px;
 top: 0.0px;
 width: 53.0px;
 height: 17.79998779296875px;
border-radius: 3.2077670097351074px; background-color: rgba(203, 203, 203, 0.10000000149011612);
 cursor: pointer;

}

.vector-169-4124{
position: relative; width: 12.831069946289062px; height: 12.8310546875}

.btn-169-4122{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 71.28312683105469px;
 top: 0.0px;
 width: 77.27572631835938px;
 height: 17.6427001953125px;
border-radius: 1.6038835048675537px; background-color: rgba(179, 235, 203, 1.0);
 cursor: pointer;

}

.group-169-4128{
position:absolute ;width: 100.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:109px; left: 533px;background:''}

.dropdown-169-4129{
position: absolute;left: 0.0px; top: 0.0px;background-color: rgba(219, 222, 235, 1.0);; width: 100.0px; height: 22.0px;
font-size: 9.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold;
}

.group-169-4136{
position:absolute ;width: 508.0px; height: 63.0px;  background-color: rgba(0,0,0,0.0);top:16px; left: 533px;background:''}

.group-169-4137{
position:absolute ;width: 508.0px; height: 63.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-169-4138{
position:absolute ;width: 78.0px; height: 18.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-169-4139{
position:absolute ;width: 78.0px; height: 18.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;border-radius: 3.2077670097351074px;background:''}

.vector-169-4140{
position: absolute;left: 5.0px; top: 4.0px; width: 11.0px; height: 11.0}

.text-169-4142{
position: absolute;
left: 19.35546875px;
 top: 5.61328125px;
 width: 50.0px;
 height: 6.0px;
font-size: 8.0px; color: rgba(0, 0, 0, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-169-4143{
position: absolute;
left: 0.0px;
 top: 37.0px;
 width: 508.0px;
 height: 26.0px;
font-size: 10.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.text-169-4144{
position: absolute;
left: 100.0px;
 top: 2.0px;
 width: 408.0px;
 height: 18.0px;
font-size: 9.0px; color: rgba(180, 174, 174, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.group-169-4145{
position:absolute ;width: 258.0px; height: 28.0px;  background-color: rgba(0,0,0,0.0);top:106px; left: 1075px;border-radius: 2.0px;background:''}

.vector-169-4148{
position: relative; width: 18.0px; height: 18.0}

.btn-169-4146{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 230.0px;
 top: 0.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(222, 252, 235, 1.0);
 cursor: pointer;

}

.vector-169-4153{
position: relative; width: 18.0px; height: 18.0}

.btn-169-4151{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 184.0px;
 top: 0.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(255, 232, 229, 1.0);
 cursor: pointer;

}

.vector-169-4158{
position: relative; width: 18.0px; height: 18.0}

.btn-169-4156{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 138.0px;
 top: 0.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(211, 234, 253, 1.0);
 cursor: pointer;

}

.vector-169-4167{
position: relative; width: 18.0px; height: 18.0}

.btn-169-4165{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 92.0px;
 top: 0.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(211, 234, 253, 1.0);
 cursor: pointer;

}

.vector-169-4173{
position: relative; width: 18.0px; height: 18.0}

.btn-169-4171{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 46.0px;
 top: 0.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(211, 234, 253, 1.0);
 cursor: pointer;

}

.vector-169-4179{
position: relative; width: 18.0px; height: 18.0}

.btn-169-4177{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 0.0px;
 top: 0.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(211, 234, 253, 1.0);
 cursor: pointer;

}

.group-169-4181{
position:absolute ;width: 195.0px; height: 14.0px;  background-color: rgba(0,0,0,0.0);top:16px; left: 66px;background:''}

.vector-169-4182{
position: absolute;left: 0.0px; top: 0.0px; width: 14.0px; height: 14.0}

.text-169-4196{
position: absolute;
left: 30.0px;
 top: 2.0px;
 width: 165.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-169-4197{
position: absolute;left: 514.0px; top: 91.99993896484375px; width: 566.0px; height: 1}

.group-169-4198{
position:absolute ;width: 260.0px; height: 32.0px;  background-color: rgba(0,0,0,0.0);top:47px; left: 1075px;background:''}

.group-169-4199{
position:absolute ;width: 193.0px; height: 32.0px;  background-color: rgba(250,250,250,1.0);top:0px; left: 31px;border-radius: 2.0px;border-color:rgba(164, 232, 200, 1.0);border-style:solid;background:''}

.vector-169-4200{
position: absolute;left: 0.0px; top: 0.0px; width: 29.0px; height: 27.0}

.text-169-4208{
position: absolute;
left: 39.0px;
 top: 8.0px;
 width: 185.0px;
 height: 17.0px;
font-size: 8.0px; color: rgba(170, 164, 165, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.vector-169-4211{
position: relative; width: 18.0px; height: 18.0}

.btn-169-4209{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 232.0px;
 top: 2.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(211, 234, 253, 1.0);
 cursor: pointer;

}

.text-169-4213{
position: absolute;
left: 1142.0px;
 top: 23.0px;
 width: 70.0px;
 height: 6.0px;
font-size: 9.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.group-169-4214{
position:absolute ;width: 1373.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:153px; left: calc( ( ( 100% - 1440px) / 2 ) + 27px);background:''}

.group-169-4215{
position:absolute ;width: 1373.0px; height: 44.0px;  background-color: rgba(34,52,132,1.0);top:0px; left: 0px;background:''}

.group-169-4216{
position:absolute ;width: 127.0px; height: 24.0px;  background-color: rgba(0,0,0,0.0);top:10px; left: 10px;background:''}

.vector-169-4217{
position: absolute;left: 0.0px; top: 0.0px; width: 24.0px; height: 24.0}

.text-169-4222{
position: absolute;
left: 35.0px;
 top: 7.0px;
 width: 92.0px;
 height: 11.0px;
font-size: 16.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-169-4225{
position: relative; width: 18.0px; height: 18.0}

.btn-169-4223{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 1337.0px;
 top: 8.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(74, 87, 145, 1.0);
 cursor: pointer;

}

.vector-169-4231{
position: relative; width: 18.0px; height: 18.0}

.btn-169-4229{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 1298.0px;
 top: 8.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(74, 87, 145, 1.0);
 cursor: pointer;

}

.group-169-4233{
position:absolute ;width: 1440.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:69px; left: calc( ( ( 100% - 1440px) / 2 ) + 0px);background:''}

.group-169-4234{
position:absolute ;width: 1440.0px; height: 84.0px;  background-color: rgba(244,244,244,1.0);top:0px; left: 0px;background:''}

.text-169-4235{
position: absolute;
left: 25.0px;
 top: 23.0px;
 width: 185.0px;
 height: 29.0px;
font-size: 24.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-169-4236{
position: absolute;
left: 250.0px;
 top: 27.0px;
 width: 393.0px;
 height: 17.0px;
font-size: 14.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.vector-169-4237{
position: absolute;left: 230.0px; top: 15.0px; width: 1.0px; height: 46.0}

.group-169-4238{
position:absolute ;width: 159.0px; height: 36.0px;  background-color: rgba(0,0,0,0.0);top:19px; left: 1232px;border-radius: 2.0px;background:''}

.vector-169-4242{
position: relative; width: 24.0px; height: 24.0}

.btn-169-4239{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 0.0px;
 top: 0.0px;
 width: 159.0px;
 height: 36.0px;
border-radius: 2.0px; background-color: rgba(34, 52, 132, 1.0);
 cursor: pointer;
font-size: 12.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; text-transform: uppercase; font-weight: 400;
}

.group-169-4244{
position:absolute ;width: 1440.0px; height: 73.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: calc( ( ( 100% - 1440px) / 2 ) + 0px);background:''}

.group-169-4245{
position:absolute ;width: 1440.0px; height: 73.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;background:''}

.vector-169-4246{
position: absolute;left: 1370.0px; top: 23.0px; width: 30.0px; height: 30.0}

.vector-169-4249{
position: absolute;left: 22.0px; top: 24.0px; width: 155.53781127929688px; height: 33.9761962890625}

.vector-169-4274{
position: absolute;left: 191.0px; top: 0.0px; width: 1.0px; height: 73.0}

.vector-169-4275{
position: absolute;left: 1326.0px; top: 23.0px; width: 30.0px; height: 30.0}

.vector-169-4282{
position: relative; width: 24.0px; height: 24.0}

.btn-169-4279{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 214.0px;
 top: 17.0px;
 width: 207.0px;
 height: 42.0px;
border-radius: 2.0px; background-color: rgba(237, 237, 237, 1.0);
 cursor: pointer;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; text-transform: uppercase; font-weight: 400;
}