<div class="modulescreatebase-169-2775" name="Modules@create Base">
 <div class="group-169-2776" name="Group">
  <div class="group-169-2777" name="Group">
  </div>
  <label class="text-169-2778" type="text" value="©2021 polarishealth.ai- All Rights Reserved.">
   ©2021 polarishealth.ai- All Rights Reserved.
  </label>
 </div>
 <div class="group-169-2779" name="Group">
  <div class="group-169-2780" name="Group">
  </div>
 </div>
 <div class="group-169-2781" name="Group">
  <div class="group-169-2782" name="Group">
   <div class="group-169-2783" name="Group">
   </div>
   <img class="vector-169-2784" src="assets/images/Modules/create-base/vector-169_2784.svg"/>
   <button class="btn-169-2791" type="button">
    <img class="vector-169-2794" src="assets/images/Modules/create-base/vector-169_2794.svg"/>
    schedule type
   </button>
   <button class="btn-169-2796" type="button">
    <img class="vector-169-2799" src="assets/images/Modules/create-base/vector-169_2799.svg"/>
    Distribution type
   </button>
   <button class="btn-169-2801" type="button">
    <img class="vector-169-2804" src="assets/images/Modules/create-base/vector-169_2804.svg"/>
    Shift Distribution
   </button>
  </div>
  <div class="group-169-2806" name="Group">
  </div>
  <div class="group-169-2807" name="Group">
   <label class="text-169-2808" type="text" value="Pick Base lines if you want">
    Pick Base lines if you want
   </label>
   <img class="vector-169-2809" src="assets/images/Modules/create-base/vector-169_2809.svg"/>
  </div>
 </div>
 <div class="group-169-2814" name="Group">
  <div class="group-169-2815" name="Group">
  </div>
  <label class="text-169-2816" type="text" value="create What-if Analysis">
   create What-if Analysis
  </label>
  <label class="text-169-2817" type="text" value="Steps to create a new What-if Analysis">
   Steps to create a new What-if Analysis
  </label>
  <img class="vector-169-2818" src="assets/images/Modules/create-base/vector-169_2818.svg"/>
 </div>
 <div class="group-169-2819" name="Group">
  <div class="group-169-2820" name="Group">
  </div>
  <img class="vector-169-2821" src="assets/images/Modules/create-base/vector-169_2821.svg"/>
  <img class="vector-169-2824" src="assets/images/Modules/create-base/vector-169_2824.svg"/>
  <img class="vector-169-2849" src="assets/images/Modules/create-base/vector-169_2849.svg"/>
  <img class="vector-169-2850" src="assets/images/Modules/create-base/vector-169_2850.svg"/>
  <button class="btn-169-2854" type="button">
   <img class="vector-169-2857" src="assets/images/Modules/create-base/vector-169_2857.svg"/>
   back to dashboard
  </button>
 </div>
</div>
