<div class="modulescreatewhatifanalysis-169-2385" name="Modules@create what if Analysis">
 <div class="group-169-2386" name="Group">
  <div class="group-169-2387" name="Group">
  </div>
  <div class="group-169-2388" name="Group">
   <div class="group-169-2389" name="Group">
   </div>
   <label class="text-169-2390" type="text" value="Base Line Name ABCD">
    Base Line Name ABCD
   </label>
   <div class="group-169-2391" name="Group">
    <div class="group-169-2392" name="Group">
     <div class="group-169-2393" name="Group">
      <div class="group-169-2394" name="Group">
      </div>
      <img class="vector-169-2395" src="assets/images/Modules/create-what-if-analysis/vector-169_2395.svg"/>
      <label class="text-169-2397" type="text" value="Base Line ID">
       Base Line ID
      </label>
     </div>
     <label class="text-169-2398" type="text" value="921409198-87861">
      921409198-87861
     </label>
    </div>
    <label class="text-169-2399" type="text" value="Private">
     Private
    </label>
    <img class="vector-169-2400" src="assets/images/Modules/create-what-if-analysis/vector-169_2400.svg"/>
   </div>
  </div>
  <img class="vector-169-2404" src="assets/images/Modules/create-what-if-analysis/vector-169_2404.svg"/>
  <div class="group-169-2405" name="Group">
   <div class="group-169-2406" name="Group">
    <div class="group-169-2407" name="Group">
     <div class="group-169-2408" name="Group">
     </div>
     <div class="group-169-2409" name="Group">
      <label class="text-169-2410" type="text" value="OPERATING room">
       OPERATING room
      </label>
     </div>
    </div>
    <div class="group-169-2411" name="Group">
     <div class="group-169-2412" name="Group">
      <div class="group-169-2413" name="Group">
      </div>
      <div class="group-169-2414" name="Group">
       <label class="text-169-2415" type="text" value="Department type">
        Department type
       </label>
      </div>
     </div>
    </div>
   </div>
   <div class="group-169-2416" name="Group">
    <div class="group-169-2417" name="Group">
     <div class="group-169-2418" name="Group">
     </div>
     <div class="group-169-2419" name="Group">
      <label class="text-169-2420" type="text" value="Site2_OR">
       Site2_OR
      </label>
     </div>
    </div>
    <div class="group-169-2421" name="Group">
     <div class="group-169-2422" name="Group">
      <div class="group-169-2423" name="Group">
      </div>
      <div class="group-169-2424" name="Group">
       <label class="text-169-2425" type="text" value="Department group">
        Department group
       </label>
      </div>
     </div>
    </div>
   </div>
   <div class="group-169-2426" name="Group">
    <div class="group-169-2427" name="Group">
     <div class="group-169-2428" name="Group">
     </div>
     <div class="group-169-2429" name="Group">
      <label class="text-169-2430" type="text" value="Registered Nurses">
       Registered Nurses
      </label>
     </div>
    </div>
    <div class="group-169-2431" name="Group">
     <div class="group-169-2432" name="Group">
      <div class="group-169-2433" name="Group">
      </div>
      <div class="group-169-2434" name="Group">
       <label class="text-169-2435" type="text" value="Resource Group">
        Resource Group
       </label>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="group-169-2436" name="Group">
   <div class="group-169-2437" name="Group">
   </div>
   <div class="group-169-2438" name="Group">
    <img class="vector-169-2439" src="assets/images/Modules/create-what-if-analysis/vector-169_2439.svg"/>
    <img class="vector-169-2445" src="assets/images/Modules/create-what-if-analysis/vector-169_2445.svg"/>
    <img class="vector-169-2451" src="assets/images/Modules/create-what-if-analysis/vector-169_2451.svg"/>
   </div>
  </div>
  <div class="group-169-2457" name="Group">
   <div class="group-169-2458" name="Group">
    <div class="group-169-2459" name="Group">
     <div class="group-169-2460" name="Group">
     </div>
     <div class="group-169-2461" name="Group">
      <div class="group-169-2462" name="Group">
       <div class="group-169-2463" name="Group">
       </div>
       <img class="vector-169-2464" src="assets/images/Modules/create-what-if-analysis/vector-169_2464.svg"/>
       <label class="text-169-2467" type="text" value="TRADITIONAL">
        TRADITIONAL
       </label>
      </div>
      <div class="group-169-2468" name="Group">
       <div class="group-169-2469" name="Group">
       </div>
       <img class="vector-169-2470" src="assets/images/Modules/create-what-if-analysis/vector-169_2470.svg"/>
       <label class="text-169-2473" type="text" value="HYBRID">
        HYBRID
       </label>
      </div>
      <div class="group-169-2474" name="Group">
       <div class="group-169-2475" name="Group">
       </div>
       <img class="vector-169-2476" src="assets/images/Modules/create-what-if-analysis/vector-169_2476.svg"/>
       <label class="text-169-2479" type="text" value="OPTIMAL">
        OPTIMAL
       </label>
      </div>
     </div>
    </div>
    <div class="group-169-2480" name="Group">
     <div class="group-169-2481" name="Group">
     </div>
     <div class="group-169-2482" name="Group">
      <img class="vector-169-2483" src="assets/images/Modules/create-what-if-analysis/vector-169_2483.svg"/>
      <label class="text-169-2492" type="text" value="Shift Distribution Types">
       Shift Distribution Types
      </label>
     </div>
    </div>
   </div>
   <div class="group-169-2493" name="Group">
    <div class="group-169-2494" name="Group">
     <div class="group-169-2495" name="Group">
     </div>
     <div class="group-169-2496" name="Group">
      <label class="text-169-2497" type="text" value="ratio scale">
       ratio scale
      </label>
      <div class="group-169-2498" name="Group">
       <label class="text-169-2499" type="text" value="1.0">
        1.0
       </label>
       <button class="btn-169-2500" type="button">
        <img class="vector-169-2502" src="assets/images/Modules/create-what-if-analysis/vector-169_2502.svg"/>
       </button>
       <button class="btn-169-2503" type="button">
        <img class="vector-169-2505" src="assets/images/Modules/create-what-if-analysis/vector-169_2505.svg"/>
       </button>
      </div>
     </div>
    </div>
    <div class="group-169-2506" name="Group">
     <div class="group-169-2507" name="Group">
     </div>
     <div class="group-169-2508" name="Group">
      <label class="text-169-2509" type="text" value="Number of Weeks">
       Number of Weeks
      </label>
      <div class="group-169-2510" name="Group">
       <label class="text-169-2511" type="text" value="3">
        3
       </label>
       <button class="btn-169-2512" type="button">
        <img class="vector-169-2514" src="assets/images/Modules/create-what-if-analysis/vector-169_2514.svg"/>
       </button>
       <button class="btn-169-2515" type="button">
        <img class="vector-169-2517" src="assets/images/Modules/create-what-if-analysis/vector-169_2517.svg"/>
       </button>
      </div>
     </div>
    </div>
    <div class="group-169-2518" name="Group">
     <div class="group-169-2519" name="Group">
     </div>
     <div class="group-169-2520" name="Group">
      <br/>
      <label class="calendar-169-2521" for="html">
       start date
      </label>
      <input class="input-169-2521" onblur="(this.type='text')" onfocus="(this.type='date')" placeholder="mm/dd/yyyy" type="text"/>
      <br/>
      <img class="vector-169-2524" src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/914d44b2-33cb-459e-ae80-879498b907d3"/>
     </div>
    </div>
    <div class="group-169-2531" name="Group">
     <div class="group-169-2532" name="Group">
     </div>
     <div class="group-169-2533" name="Group">
      <br/>
      <label class="calendar-169-2534" for="html">
       end date
      </label>
      <input class="input-169-2534" onblur="(this.type='text')" onfocus="(this.type='date')" placeholder="mm/dd/yyyy" type="text"/>
      <br/>
      <img class="vector-169-2537" src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/2cf551e4-b665-4b17-bdb8-a00dc892bcb6"/>
     </div>
    </div>
   </div>
   <div class="group-169-2544" name="Group">
    <div class="group-169-2545" name="Group">
     <div class="group-169-2546" name="Group">
     </div>
     <div class="group-169-2547" name="Group">
      <label class="text-169-2548" type="text" value="EARLIEST Start Time">
       EARLIEST Start Time
      </label>
      <img class="vector-169-2549" src="assets/images/Modules/create-what-if-analysis/vector-169_2549.svg"/>
     </div>
    </div>
   </div>
   <div class="group-169-2566" name="Group">
    <div class="group-169-2567" name="Group">
    </div>
    <div class="group-169-2568" name="Group">
     <label class="text-169-2569" type="text" value="transition scale">
      transition scale
     </label>
     <img class="vector-169-2570" src="assets/images/Modules/create-what-if-analysis/vector-169_2570.svg"/>
    </div>
   </div>
  </div>
  <div class="group-169-2594" name="Group">
   <div class="group-169-2595" name="Group">
    <div class="group-169-2596" name="Group">
    </div>
    <div class="group-169-2597" name="Group">
     <img class="vector-169-2598" src="assets/images/Modules/create-what-if-analysis/vector-169_2598.svg"/>
     <div class="group-169-2622" name="Group">
      <label class="text-169-2623" type="text" value="Non-Traditional Resources">
       Non-Traditional Resources
      </label>
      <img class="vector-169-2624" src="assets/images/Modules/create-what-if-analysis/vector-169_2624.svg"/>
     </div>
    </div>
   </div>
   <div class="group-169-2626" name="Group">
    <div class="group-169-2627" name="Group">
     <div class="group-169-2628" name="Group">
      <div class="group-169-2629" name="Group">
      </div>
      <div class="group-169-2630" name="Group">
       <div class="group-169-2631" name="Group">
        <div class="group-169-2632" name="Group">
         <div class="group-169-2633" name="Group">
          <div class="group-169-2634" name="Group">
           <div class="group-169-2635" name="Group">
           </div>
           <div class="group-169-2636" name="Group">
            <div class="group-169-2637" name="Group">
            </div>
            <label class="text-169-2638" type="text" value="From">
             From
            </label>
           </div>
           <select class="dropdown-169-2639">
            <option selected="" value="">
             6 AM
            </option>
           </select>
          </div>
         </div>
         <div class="group-169-2642" name="Group">
          <div class="group-169-2643" name="Group">
           <div class="group-169-2644" name="Group">
           </div>
           <div class="group-169-2645" name="Group">
            <div class="group-169-2646" name="Group">
            </div>
            <label class="text-169-2647" type="text" value="To">
             To
            </label>
           </div>
           <select class="dropdown-169-2648">
            <option selected="" value="">
             2 PM
            </option>
           </select>
          </div>
         </div>
        </div>
        <label class="text-169-2651" type="text" value="Shift Time Duration">
         Shift Time Duration
        </label>
       </div>
      </div>
     </div>
    </div>
    <div class="group-169-2652" name="Group">
     <div class="group-169-2653" name="Group">
      <div class="group-169-2654" name="Group">
      </div>
      <div class="group-169-2655" name="Group">
       <div class="group-169-2656" name="Group">
        <div class="group-169-2657" name="Group">
         <div class="group-169-2658" name="Group">
          <div class="group-169-2659" name="Group">
           <div class="group-169-2660" name="Group">
           </div>
           <div class="group-169-2661" name="Group">
            <div class="group-169-2662" name="Group">
            </div>
            <label class="text-169-2663" type="text" value="From">
             From
            </label>
           </div>
           <select class="dropdown-169-2664">
            <option selected="" value="">
             6 AM
            </option>
           </select>
          </div>
         </div>
         <div class="group-169-2667" name="Group">
          <div class="group-169-2668" name="Group">
           <div class="group-169-2669" name="Group">
           </div>
           <div class="group-169-2670" name="Group">
            <div class="group-169-2671" name="Group">
            </div>
            <label class="text-169-2672" type="text" value="To">
             To
            </label>
           </div>
           <select class="dropdown-169-2673">
            <option selected="" value="">
             2 PM
            </option>
           </select>
          </div>
         </div>
        </div>
        <label class="text-169-2676" type="text" value="Shift Time Duration">
         Shift Time Duration
        </label>
       </div>
      </div>
     </div>
    </div>
    <div class="group-169-2677" name="Group">
     <div class="group-169-2678" name="Group">
     </div>
     <button class="btn-169-2679" type="button">
      <img class="vector-169-2681" src="assets/images/Modules/create-what-if-analysis/vector-169_2681.svg"/>
     </button>
    </div>
   </div>
   <div class="group-169-2683" name="Group">
    <div class="group-169-2684" name="Group">
     <div class="group-169-2685" name="Group">
     </div>
     <div class="group-169-2686" name="Group">
      <img class="vector-169-2687" src="assets/images/Modules/create-what-if-analysis/vector-169_2687.svg"/>
      <label class="text-169-2696" type="text" value="Pre- Determined Variables">
       Pre- Determined Variables
      </label>
     </div>
    </div>
    <div class="group-169-2697" name="Group">
     <div class="group-169-2698" name="Group">
      <div class="group-169-2699" name="Group">
      </div>
      <div class="group-169-2700" name="Group">
       <label class="text-169-2701" type="text" value="Maximum Shift Duration">
        Maximum Shift Duration
       </label>
       <img class="vector-169-2702" src="assets/images/Modules/create-what-if-analysis/vector-169_2702.svg"/>
      </div>
     </div>
     <div class="group-169-2719" name="Group">
      <div class="group-169-2720" name="Group">
      </div>
      <div class="group-169-2721" name="Group">
       <label class="text-169-2722" type="text" value="Minimum Shift Duration">
        Minimum Shift Duration
       </label>
       <img class="vector-169-2723" src="assets/images/Modules/create-what-if-analysis/vector-169_2723.svg"/>
      </div>
     </div>
     <div class="group-169-2747" name="Group">
      <div class="group-169-2748" name="Group">
      </div>
      <div class="group-169-2749" name="Group">
       <label class="text-169-2750" type="text" value="latest Start Time">
        latest Start Time
       </label>
       <img class="vector-169-2751" src="assets/images/Modules/create-what-if-analysis/vector-169_2751.svg"/>
      </div>
     </div>
    </div>
   </div>
   <div class="group-169-2768" name="Group">
    <button class="btn-169-2769" type="button">
     Cancel
    </button>
    <button class="btn-169-2772" type="button">
     RUN
    </button>
   </div>
  </div>
 </div>
</div>
