<div class="coreshare-169-3036" name="Core@Share">
 <div class="group-169-3037" name="Group">
 </div>
 <div class="group-169-3038" name="Group">
  <div class="group-169-3039" name="Group">
  </div>
  <div class="group-169-3040" name="Group">
   <button class="btn-169-3041" type="button">
    Copy
   </button>
   <div class="group-169-3044" name="Group">
    <div class="group-169-3045" name="Group">
     <div class="group-169-3046" name="Group">
     </div>
    </div>
    <label class="text-169-3047" type="text" value="https://dev.polarishealth.ai/#/">
     https://dev.polarishealth.ai/#/
    </label>
   </div>
  </div>
 </div>
 <div class="group-169-3048" name="Group">
  <div class="group-169-3049" name="Group">
  </div>
  <img class="vector-169-3050" src="assets/images/Core/share/vector-169_3050.svg"/>
  <label class="text-169-3051" type="text" value="Anyone can access to the link">
   Anyone can access to the link
  </label>
  <label class="text-169-3052" type="text" value="Share link">
   Share link
  </label>
 </div>
 <div class="group-169-3053" name="Group">
  <div class="group-169-3054" name="Group">
  </div>
  <div class="group-169-3055" name="Group">
   <div class="group-169-3056" name="Group">
   </div>
   <img class="vector-169-3057" src="assets/images/Core/share/vector-169_3057.svg"/>
   <label class="text-169-3058" type="text" value="USER 01">
    USER 01
   </label>
   <img class="img-169-3059" src="assets/images/Core/share/img-169_3059.png"/>
  </div>
  <div class="group-169-3060" name="Group">
   <div class="group-169-3061" name="Group">
   </div>
   <img class="vector-169-3062" src="assets/images/Core/share/vector-169_3062.svg"/>
   <label class="text-169-3063" type="text" value="user 02">
    user 02
   </label>
   <img class="img-169-3064" src="assets/images/Core/share/img-169_3064.png"/>
  </div>
  <div class="group-169-3065" name="Group">
   <div class="group-169-3066" name="Group">
   </div>
   <img class="vector-169-3067" src="assets/images/Core/share/vector-169_3067.svg"/>
   <label class="text-169-3068" type="text" value="user 03">
    user 03
   </label>
   <img class="img-169-3069" src="assets/images/Core/share/img-169_3069.png"/>
  </div>
 </div>
 <div class="group-169-3070" name="Group">
  <div class="group-169-3071" name="Group">
  </div>
  <button class="btn-169-3072" type="button">
   ADD
  </button>
  <div class="group-169-3075" name="Group">
   <div class="group-169-3076" name="Group">
    <div class="group-169-3077" name="Group">
    </div>
   </div>
   <label class="text-169-3078" type="text" value="Select A User">
    Select A User
   </label>
  </div>
 </div>
 <label class="text-169-3079" type="text" value="Invite Users">
  Invite Users
 </label>
 <div class="group-169-3080" name="Group">
  <div class="group-169-3081" name="Group">
   <label class="text-169-3082" type="text" value="921409198-87861">
    921409198-87861
   </label>
   <img class="vector-169-3083" src="assets/images/Core/share/vector-169_3083.svg"/>
  </div>
  <label class="text-169-3088" type="text" value="Base Line Name Abcd">
   Base Line Name Abcd
  </label>
 </div>
 <div class="group-169-3089" name="Group">
  <div class="group-169-3090" name="Group">
  </div>
  <img class="vector-169-3091" src="assets/images/Core/share/vector-169_3091.svg"/>
  <label class="text-169-3096" type="text" value="Add Collaborator">
   Add Collaborator
  </label>
  <img class="vector-169-3097" src="assets/images/Core/share/vector-169_3097.svg"/>
 </div>
</div>
