

.coreshare-169-3036{
position:'' ;width: 100%; height: auto;  background-color: rgba(0,0,0,0.0);top:0px; left: 0;background:''}

.group-169-3037{
position:absolute ;width: 540.0px; height: 923.0px;  background-color: rgba(244,244,244,1.0);top:0px; left: calc( ( ( 100% - 1440px) / 2 ) + 0px);box-shadow: 1.0px 0.0px 15.0px rgba(0, 0, 0, 0.10000000149011612);background:''}

.group-169-3038{
position:absolute ;width: 510.0px; height: 62.0px;  background-color: rgba(0,0,0,0.0);top:458px; left: calc( ( ( 100% - 1440px) / 2 ) + 17px);border-radius: 2.0px;background:''}

.group-169-3039{
position:absolute ;width: 510.0px; height: 62.0px;  background-color: '';top:0px; left: 0px;border-radius: 2.0px;border-color:rgba(216, 216, 216, 1.0);border-style:solid;background:''}

.group-169-3040{
position:absolute ;width: 487.0px; height: 40.0px;  background-color: rgba(0,0,0,0.0);top:11px; left: 9px;border-radius: 2.0px;background:''}

.btn-169-3041{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 412.0px;
 top: 0.0px;
 width: 75.0px;
 height: 39.0px;
border-radius: 2.0px; background-color: rgba(34, 52, 132, 1.0);
 cursor: pointer;
font-size: 10.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; text-transform: uppercase; font-weight: 400;
}

.group-169-3044{
position:absolute ;width: 404.0px; height: 40.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.group-169-3045{
position:absolute ;width: 404.0px; height: 40.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.group-169-3046{
position:absolute ;width: 404.0px; height: 40.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.text-169-3047{
position: absolute;
left: 11.515625px;
 top: 15.0px;
 width: 256.218505859375px;
 height: 10.0px;
font-size: 10.0px; color: rgba(39, 56, 135, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.group-169-3048{
position:absolute ;width: 510.0px; height: 51.9998779296875px;  background-color: rgba(0,0,0,0.0);top:391px; left: calc( ( ( 100% - 1440px) / 2 ) + 17px);background:''}

.group-169-3049{
position:absolute ;width: 510.0px; height: 25.9998779296875px;  background-color: rgba(230,223,244,1.0);top:26px; left: 0px;border-radius: 4.0px;border-color:rgba(255, 255, 255, 1.0);border-style:solid;background:''}

.vector-169-3050{
position: absolute;left: 476.998291015625px; top: 37.0px; width: 10.111083984375px; height: 4.69439697265625}

.text-169-3051{
position: absolute;
left: 9.0px;
 top: 30.33203125px;
 width: 409.152587890625px;
 height: 17.333251953125px;
font-size: 12.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.text-169-3052{
position: absolute;
left: 0.0px;
 top: 0.0px;
 width: 87.0px;
 height: 10.0px;
font-size: 10.0px; color: rgba(0, 0, 0, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-169-3053{
position:absolute ;width: 510.0px; height: 153.0px;  background-color: rgba(0,0,0,0.0);top:203px; left: calc( ( ( 100% - 1440px) / 2 ) + 17px);background:''}

.group-169-3054{
position:absolute ;width: 510.0px; height: 153.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 2.0px;border-color:rgba(216, 216, 216, 1.0);border-style:solid;background:''}

.group-169-3055{
position:absolute ;width: 493.0px; height: 40.0px;  background-color: rgba(0,0,0,0.0);top:9px; left: 8px;background:''}

.group-169-3056{
position:absolute ;width: 493.0px; height: 40.0px;  background-color: rgba(236,239,255,0.15000000596046448);top:0px; left: 0px;border-radius: 2.0px;border-color:rgba(0, 0, 0, 0.05000000074505806);border-style:solid;background:''}

.vector-169-3057{
position: absolute;left: 467.0px; top: 14.0px; width: 13.0px; height: 13.0}

.text-169-3058{
position: absolute;
left: 48.0px;
 top: 17.0px;
 width: 43.0px;
 height: 7.0px;
font-size: 10.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.img-169-3059{
position: absolute;left: 12.0px; top: 9.0px; width: 22.0px; height: 22.0px;}

.group-169-3060{
position:absolute ;width: 493.0px; height: 40.0px;  background-color: rgba(0,0,0,0.0);top:56px; left: 8px;background:''}

.group-169-3061{
position:absolute ;width: 493.0px; height: 40.0px;  background-color: rgba(236,239,255,0.15000000596046448);top:0px; left: 0px;border-radius: 2.0px;border-color:rgba(0, 0, 0, 0.05000000074505806);border-style:solid;background:''}

.vector-169-3062{
position: absolute;left: 467.0px; top: 14.0px; width: 13.0px; height: 13.0}

.text-169-3063{
position: absolute;
left: 48.0px;
 top: 17.0px;
 width: 44.0px;
 height: 7.0px;
font-size: 10.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.img-169-3064{
position: absolute;left: 12.0px; top: 9.0px; width: 22.0px; height: 22.0px;}

.group-169-3065{
position:absolute ;width: 493.0px; height: 40.0px;  background-color: rgba(0,0,0,0.0);top:103px; left: 8px;background:''}

.group-169-3066{
position:absolute ;width: 493.0px; height: 40.0px;  background-color: rgba(236,239,255,0.15000000596046448);top:0px; left: 0px;border-radius: 2.0px;border-color:rgba(0, 0, 0, 0.05000000074505806);border-style:solid;background:''}

.vector-169-3067{
position: absolute;left: 467.0px; top: 14.0px; width: 13.0px; height: 13.0}

.text-169-3068{
position: absolute;
left: 48.0px;
 top: 17.0px;
 width: 44.0px;
 height: 7.0px;
font-size: 10.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.img-169-3069{
position: absolute;left: 12.0px; top: 9.0px; width: 22.0px; height: 22.0px;}

.group-169-3070{
position:absolute ;width: 510.0px; height: 43.0px;  background-color: rgba(0,0,0,0.0);top:128px; left: calc( ( ( 100% - 1440px) / 2 ) + 17px);border-radius: 2.0px;background:''}

.group-169-3071{
position:absolute ;width: 510.0px; height: 43.0px;  background-color: '';top:0px; left: 0px;border-radius: 2.0px;border-color:rgba(216, 216, 216, 1.0);border-style:solid;background:''}

.btn-169-3072{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 434.0px;
 top: 8.0px;
 width: 68.0px;
 height: 25.0px;
border-radius: 2.0px; background-color: rgba(34, 52, 132, 1.0);
 cursor: pointer;
font-size: 10.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; text-transform: uppercase; font-weight: 400;
}

.group-169-3075{
position:absolute ;width: 418.0px; height: 26.0px;  background-color: rgba(0,0,0,0.0);top:8px; left: 8px;border-radius: 2.0px;background:''}

.group-169-3076{
position:absolute ;width: 418.0px; height: 26.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.group-169-3077{
position:absolute ;width: 418.0px; height: 26.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.text-169-3078{
position: absolute;
left: 16.0px;
 top: 8.0px;
 width: 91.339111328125px;
 height: 10.0px;
font-size: 10.0px; color: rgba(0, 0, 0, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-169-3079{
position: absolute;
left: 17.0px;
 top: 108.0px;
 width: 87.0px;
 height: 10.0px;
font-size: 10.0px; color: rgba(0, 0, 0, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-169-3080{
position:absolute ;width: 510.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:69px; left: calc( ( ( 100% - 1440px) / 2 ) + 17px);background:''}

.group-169-3081{
position:absolute ;width: 205.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 296px;background:''}

.text-169-3082{
position: absolute;
left: 114.0px;
 top: 7.0px;
 width: 91.0px;
 height: 8.0px;
font-size: 12.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.vector-169-3083{
position: absolute;left: 0.0px; top: 0.0px; width: 105.0px; height: 22.0}

.text-169-3088{
position: absolute;
left: 0.0px;
 top: 6.0px;
 width: 165.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-169-3089{
position:absolute ;width: 510.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:15px; left: calc( ( ( 100% - 1440px) / 2 ) + 17px);background:''}

.group-169-3090{
position:absolute ;width: 510.0px; height: 44.0px;  background-color: rgba(34,52,132,1.0);top:0px; left: 0px;background:''}

.vector-169-3091{
position: absolute;left: 471.0px; top: 8.0px; width: 28.0px; height: 28.0}

.text-169-3096{
position: absolute;
left: 48.0px;
 top: 17.0px;
 width: 176.0px;
 height: 11.0px;
font-size: 16.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-169-3097{
position: absolute;left: 12.0px; top: 10.0px; width: 24.0px; height: 24.0}