

.sharecreatewhatif-169-5452{
position:'' ;width: 100%; height: auto;  background-color: rgba(23,23,54,1.0);top:0px; left: 0;background:''}

.group-169-5453{
position:absolute ;width: 238.0px; height: 16.0px;  background-color: rgba(0,0,0,0.0);top:7px; left: calc( ( ( 100% - 1440px) / 2 ) + 8px);box-shadow: 0.0px 0.0px 1.1399999856948853px rgba(0, 0, 0, 0.25);background:''}

.group-169-5454{
position:absolute ;width: 238.0px; height: 16.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-169-5455{
position:absolute ;width: 238.0px; height: 16.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-169-5456{
position:absolute ;width: 238.0px; height: 16.0px;  background-color: rgba(250,253,255,1.0);top:0px; left: 0px;border-radius: 2.0px;box-shadow: 0.0px 0.0px 1.1399999856948853px rgba(0, 0, 0, 0.10000000149011612);background:''}

.vector-169-5457{
position: absolute;left: 225.0px; top: 4.0px; width: 7.0px; height: 7.0}

.text-169-5458{
position: absolute;
left: 5.00048828125px;
 top: 4.0px;
 width: 101.01708984375px;
 height: 7.084197998046875px;
font-size: 10.0px; color: rgba(87, 42, 183, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.group-169-5459{
position:absolute ;width: 238.0px; height: 273.0px;  background-color: rgba(0,0,0,0.0);top:30px; left: calc( ( ( 100% - 1440px) / 2 ) + 8px);border-radius: 2.0px;background:''}

.group-169-5460{
position:absolute ;width: 238.0px; height: 273.0px;  background-color: rgba(217,217,217,1.0);top:0px; left: 0px;border-radius: 2.0px;border-color:rgba(44, 44, 67, 1.0);border-style:solid;background:''}

.group-169-5461{
position:absolute ;width: 208.0185546875px; height: 7.065887451171875px;  background-color: rgba(0,0,0,0.0);top:6px; left: 5px;background:''}

.group-169-5462{
position:absolute ;width: 208.0185546875px; height: 7.065887451171875px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.text-169-5463{
position: absolute;
left: 0.0009765625px;
 top: 1.0px;
 width: 60.0302734375px;
 height: 6.02398681640625px;
font-size: 8.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.text-169-5464{
position: absolute;
left: 134.003662109375px;
 top: 0.0px;
 width: 74.015869140625px;
 height: 7.065887451171875px;
font-size: 10.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-169-5465{
position: absolute;left: 0.0px; top: 19.066375732421875px; width: 238.0px; height: 1}

.group-169-5466{
position:absolute ;width: 217.0146484375px; height: 7.07391357421875px;  background-color: rgba(0,0,0,0.0);top:26px; left: 5px;background:''}

.group-169-5467{
position:absolute ;width: 217.0146484375px; height: 7.07391357421875px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.text-169-5468{
position: absolute;
left: 0.0009765625px;
 top: -0.93359375px;
 width: 46.0302734375px;
 height: 6.01837158203125px;
font-size: 8.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.text-169-5469{
position: absolute;
left: 133.999755859375px;
 top: -0.93359375px;
 width: 83.015869140625px;
 height: 7.07391357421875px;
font-size: 10.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-169-5470{
position: absolute;left: 0.0px; top: 38.14060974121094px; width: 238.0px; height: 1}

.group-169-5471{
position:absolute ;width: 214.9521484375px; height: 7.0721282958984375px;  background-color: rgba(0,0,0,0.0);top:45px; left: 5px;background:''}

.group-169-5472{
position:absolute ;width: 214.9521484375px; height: 7.0721282958984375px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.text-169-5473{
position: absolute;
left: 0.0009765625px;
 top: 0.140625px;
 width: 66.0302734375px;
 height: 6.026397705078125px;
font-size: 8.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.text-169-5474{
position: absolute;
left: 133.937255859375px;
 top: -0.859375px;
 width: 81.015869140625px;
 height: 7.0721282958984375px;
font-size: 10.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-169-5475{
position: absolute;left: 0.0px; top: 57.21092224121094px; width: 238.0px; height: 1}

.btn-169-5476{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 93.0px;
 top: 312.0px;
 width: 79.001220703125px;
 height: 18.01012420654297px;
border-radius: 2.0px; background-color: rgba(255, 255, 255, 1.0);
 cursor: pointer;
font-size: 8.0px; color: rgba(87, 42, 183, 1.0); font-family: Gilroy-Medium; text-transform: uppercase; font-weight: 400;
}