<div class="sharecreatewhatif-169-5452" name="Share@createwhatif">
 <div class="group-169-5453" name="Group">
  <div class="group-169-5454" name="Group">
   <div class="group-169-5455" name="Group">
    <div class="group-169-5456" name="Group">
    </div>
    <img class="vector-169-5457" src="assets/images/Share/createwhatif/vector-169_5457.svg"/>
    <label class="text-169-5458" type="text" value="Predetermined Values">
     Predetermined Values
    </label>
   </div>
  </div>
 </div>
 <div class="group-169-5459" name="Group">
  <div class="group-169-5460" name="Group">
  </div>
  <div class="group-169-5461" name="Group">
   <div class="group-169-5462" name="Group">
    <label class="text-169-5463" type="text" value="Base Line Name">
     Base Line Name
    </label>
    <label class="text-169-5464" type="text" value="Base Line ABCD">
     Base Line ABCD
    </label>
   </div>
  </div>
  <img class="vector-169-5465" src="assets/images/Share/createwhatif/vector-169_5465.svg"/>
  <div class="group-169-5466" name="Group">
   <div class="group-169-5467" name="Group">
    <label class="text-169-5468" type="text" value="Base Line ID">
     Base Line ID
    </label>
    <label class="text-169-5469" type="text" value="6921409198-87861">
     6921409198-87861
    </label>
   </div>
  </div>
  <img class="vector-169-5470" src="assets/images/Share/createwhatif/vector-169_5470.svg"/>
  <div class="group-169-5471" name="Group">
   <div class="group-169-5472" name="Group">
    <label class="text-169-5473" type="text" value="Department type">
     Department type
    </label>
    <label class="text-169-5474" type="text" value="Emergency Room">
     Emergency Room
    </label>
   </div>
  </div>
  <img class="vector-169-5475" src="assets/images/Share/createwhatif/vector-169_5475.svg"/>
 </div>
 <button class="btn-169-5476" type="button">
  Create What-if
 </button>
</div>
