<div class="testbaseline-169-4284" name="test@Baseline">
 <div class="group-169-4285" name="Group">
  <div class="group-169-4286" name="Group">
  </div>
  <div class="group-169-4287" name="Group">
   <div class="group-169-4288" name="Group">
    <div class="group-169-4289" name="Group">
     <div class="group-169-4290" name="Group">
     </div>
     <div class="group-169-4291" name="Group">
      <img class="vector-169-4292" src="assets/images/test/baseline/vector-169_4292.svg"/>
      <label class="text-169-4301" type="text" value="Pre- Determined Variables">
       Pre- Determined Variables
      </label>
     </div>
    </div>
    <div class="group-169-4302" name="Group">
     <div class="group-169-4303" name="Group">
      <div class="group-169-4304" name="Group">
      </div>
      <div class="group-169-4305" name="Group">
       <label class="text-169-4306" type="text" value="Minimum Shift Duration">
        Minimum Shift Duration
       </label>
       <img class="vector-169-4307" src="assets/images/test/baseline/vector-169_4307.svg"/>
      </div>
     </div>
     <div class="group-169-4331" name="Group">
      <div class="group-169-4332" name="Group">
      </div>
      <div class="group-169-4333" name="Group">
       <label class="text-169-4334" type="text" value="Maximum Shift Duration">
        Maximum Shift Duration
       </label>
       <img class="vector-169-4335" src="assets/images/test/baseline/vector-169_4335.svg"/>
      </div>
     </div>
     <div class="group-169-4352" name="Group">
      <div class="group-169-4353" name="Group">
      </div>
      <div class="group-169-4354" name="Group">
       <label class="text-169-4355" type="text" value="latest Start Time">
        latest Start Time
       </label>
       <img class="vector-169-4356" src="assets/images/test/baseline/vector-169_4356.svg"/>
      </div>
     </div>
    </div>
   </div>
   <div class="group-169-4373" name="Group">
    <div class="group-169-4374" name="Group">
     <div class="group-169-4375" name="Group">
      <div class="group-169-4376" name="Group">
      </div>
      <div class="group-169-4377" name="Group">
       <div class="group-169-4378" name="Group">
        <div class="group-169-4379" name="Group">
         <div class="group-169-4380" name="Group">
          <div class="group-169-4381" name="Group">
           <div class="group-169-4382" name="Group">
           </div>
           <div class="group-169-4383" name="Group">
            <div class="group-169-4384" name="Group">
            </div>
            <label class="text-169-4385" type="text" value="From">
             From
            </label>
           </div>
           <select class="dropdown-169-4386">
            <option selected="" value="">
             6 AM
            </option>
           </select>
          </div>
         </div>
         <div class="group-169-4389" name="Group">
          <div class="group-169-4390" name="Group">
           <div class="group-169-4391" name="Group">
           </div>
           <div class="group-169-4392" name="Group">
            <div class="group-169-4393" name="Group">
            </div>
            <label class="text-169-4394" type="text" value="To">
             To
            </label>
           </div>
           <select class="dropdown-169-4395">
            <option selected="" value="">
             2 PM
            </option>
           </select>
          </div>
         </div>
        </div>
        <label class="text-169-4398" type="text" value="Shift Time Duration">
         Shift Time Duration
        </label>
       </div>
      </div>
     </div>
    </div>
    <div class="group-169-4399" name="Group">
     <div class="group-169-4400" name="Group">
      <div class="group-169-4401" name="Group">
      </div>
      <div class="group-169-4402" name="Group">
       <div class="group-169-4403" name="Group">
        <div class="group-169-4404" name="Group">
         <div class="group-169-4405" name="Group">
          <div class="group-169-4406" name="Group">
           <div class="group-169-4407" name="Group">
           </div>
           <div class="group-169-4408" name="Group">
            <div class="group-169-4409" name="Group">
            </div>
            <label class="text-169-4410" type="text" value="From">
             From
            </label>
           </div>
           <div class="dropdown-169-4411">
            <lib-quick-select [config]="quickSelectConfig1694411">
            </lib-quick-select>
           </div>
          </div>
         </div>
         <div class="group-169-4414" name="Group">
          <div class="group-169-4415" name="Group">
           <div class="group-169-4416" name="Group">
           </div>
           <div class="group-169-4417" name="Group">
            <div class="group-169-4418" name="Group">
            </div>
            <label class="text-169-4419" type="text" value="To">
             To
            </label>
           </div>
           <div class="dropdown-169-4420">
            <lib-quick-select [config]="quickSelectConfig1694420">
            </lib-quick-select>
           </div>
          </div>
         </div>
        </div>
        <label class="text-169-4423" type="text" value="Shift Time Duration">
         Shift Time Duration
        </label>
       </div>
      </div>
     </div>
    </div>
    <div class="group-169-4424" name="Group">
     <div class="group-169-4425" name="Group">
     </div>
     <button class="btn-169-4426" type="button">
      <img class="vector-169-4428" src="assets/images/test/baseline/vector-169_4428.svg"/>
     </button>
    </div>
   </div>
   <div class="group-169-4430" name="Group">
    <div class="group-169-4431" name="Group">
    </div>
    <div class="group-169-4432" name="Group">
     <div class="group-169-4433" name="Group">
      <label class="text-169-4434" type="text" value="Non-Traditional Resources">
       Non-Traditional Resources
      </label>
      <img class="vector-169-4435" src="assets/images/test/baseline/vector-169_4435.svg"/>
     </div>
     <img class="vector-169-4437" src="assets/images/test/baseline/vector-169_4437.svg"/>
    </div>
   </div>
  </div>
  <div class="group-169-4461" name="Group">
   <div class="group-169-4462" name="Group">
    <div class="group-169-4463" name="Group">
     <div class="group-169-4464" name="Group">
     </div>
     <div class="group-169-4465" name="Group">
      <label class="text-169-4466" type="text" value="EARLIEST Start Time">
       EARLIEST Start Time
      </label>
      <img class="vector-169-4467" src="assets/images/test/baseline/vector-169_4467.svg"/>
     </div>
    </div>
   </div>
   <div class="group-169-4484" name="Group">
    <div class="group-169-4485" name="Group">
     <div class="group-169-4486" name="Group">
     </div>
     <div class="group-169-4487" name="Group">
      <label class="text-169-4488" type="text" value="Number of Weeks">
       Number of Weeks
      </label>
      <div class="group-169-4489" name="Group">
       <button class="btn-169-4490" type="button">
        <img class="vector-169-4492" src="assets/images/test/baseline/vector-169_4492.svg"/>
       </button>
       <label class="text-169-4493" type="text" value="3">
        3
       </label>
       <button class="btn-169-4494" type="button">
        <img class="vector-169-4496" src="assets/images/test/baseline/vector-169_4496.svg"/>
       </button>
      </div>
     </div>
    </div>
    <div class="group-169-4497" name="Group">
     <div class="group-169-4498" name="Group">
     </div>
     <div class="group-169-4499" name="Group">
      <br/>
      <label class="calendar-169-4500" for="html">
       start date
      </label>
      <input class="input-169-4500" onblur="(this.type='text')" onfocus="(this.type='date')" placeholder="mm/dd/yyyy" type="text"/>
      <br/>
      <img class="vector-169-4503" src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/c1e0730e-1d5e-4d5f-ba91-2f55f7f9fbee"/>
     </div>
    </div>
    <div class="group-169-4510" name="Group">
     <div class="group-169-4511" name="Group">
     </div>
     <div class="group-169-4512" name="Group">
      <br/>
      <label class="calendar-169-4513" for="html">
       end date
      </label>
      <input class="input-169-4513" onblur="(this.type='text')" onfocus="(this.type='date')" placeholder="mm/dd/yyyy" type="text"/>
      <br/>
      <img class="vector-169-4516" src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/661377af-a33e-4132-aa08-1553f62ee914"/>
     </div>
    </div>
    <div class="group-169-4523" name="Group">
     <div class="group-169-4524" name="Group">
     </div>
     <div class="group-169-4525" name="Group">
      <label class="text-169-4526" type="text" value="ratio scale">
       ratio scale
      </label>
      <div class="group-169-4527" name="Group">
       <button class="btn-169-4528" type="button">
        <img class="vector-169-4530" src="assets/images/test/baseline/vector-169_4530.svg"/>
       </button>
       <label class="text-169-4531" type="text" value="1.0">
        1.0
       </label>
       <button class="btn-169-4532" type="button">
        <img class="vector-169-4534" src="assets/images/test/baseline/vector-169_4534.svg"/>
       </button>
      </div>
     </div>
    </div>
   </div>
   <div class="group-169-4535" name="Group">
    <div class="group-169-4536" name="Group">
     <div class="group-169-4537" name="Group">
     </div>
     <div class="group-169-4538" name="Group">
      <img class="vector-169-4539" src="assets/images/test/baseline/vector-169_4539.svg"/>
      <label class="text-169-4548" type="text" value="Shift Distribution Types">
       Shift Distribution Types
      </label>
     </div>
    </div>
    <div class="group-169-4549" name="Group">
     <div class="group-169-4550" name="Group">
     </div>
     <div class="group-169-4551" name="Group">
      <div class="group-169-4552" name="Group">
       <div class="group-169-4553" name="Group">
       </div>
       <img class="vector-169-4554" src="assets/images/test/baseline/vector-169_4554.svg"/>
       <label class="text-169-4557" type="text" value="TRADITIONAL">
        TRADITIONAL
       </label>
      </div>
      <div class="group-169-4558" name="Group">
       <div class="group-169-4559" name="Group">
       </div>
       <img class="vector-169-4560" src="assets/images/test/baseline/vector-169_4560.svg"/>
       <label class="text-169-4563" type="text" value="HYBRID">
        HYBRID
       </label>
      </div>
      <div class="group-169-4564" name="Group">
       <div class="group-169-4565" name="Group">
       </div>
       <img class="vector-169-4566" src="assets/images/test/baseline/vector-169_4566.svg"/>
       <label class="text-169-4569" type="text" value="OPTIMAL">
        OPTIMAL
       </label>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="group-169-4570" name="Group">
   <div class="group-169-4571" name="Group">
    <div class="group-169-4572" name="Group">
     <div class="group-169-4573" name="Group">
      <div class="group-169-4574" name="Group">
      </div>
      <div class="group-169-4575" name="Group">
       <label class="text-169-4576" type="text" value="Department type">
        Department type
       </label>
      </div>
     </div>
    </div>
    <div class="group-169-4577" name="Group">
     <div class="group-169-4578" name="Group">
     </div>
     <div class="group-169-4579" name="Group">
      <label class="text-169-4580" type="text" value="Emergency room">
       Emergency room
      </label>
     </div>
    </div>
   </div>
   <div class="group-169-4581" name="Group">
    <div class="group-169-4582" name="Group">
     <div class="group-169-4583" name="Group">
     </div>
     <div class="group-169-4584" name="Group">
      <label class="text-169-4585" type="text" value="Site2_ED">
       Site2_ED
      </label>
     </div>
    </div>
    <div class="group-169-4586" name="Group">
     <div class="group-169-4587" name="Group">
      <div class="group-169-4588" name="Group">
      </div>
      <div class="group-169-4589" name="Group">
       <label class="text-169-4590" type="text" value="Department group">
        Department group
       </label>
      </div>
     </div>
    </div>
   </div>
   <div class="group-169-4591" name="Group">
    <div class="group-169-4592" name="Group">
     <div class="group-169-4593" name="Group">
     </div>
     <div class="group-169-4594" name="Group">
      <label class="text-169-4595" type="text" value="Registered Nurses">
       Registered Nurses
      </label>
     </div>
    </div>
    <div class="group-169-4596" name="Group">
     <div class="group-169-4597" name="Group">
      <div class="group-169-4598" name="Group">
      </div>
      <div class="group-169-4599" name="Group">
       <label class="text-169-4600" type="text" value="Resource Group">
        Resource Group
       </label>
      </div>
     </div>
    </div>
   </div>
  </div>
  <img class="vector-169-4601" src="assets/images/test/baseline/vector-169_4601.svg"/>
  <div class="group-169-4602" name="Group">
   <div class="group-169-4603" name="Group">
   </div>
   <div class="group-169-4604" name="Group">
    <label class="text-169-4605" type="text" value="Base Line Name 001">
     Base Line Name 001
    </label>
   </div>
   <div class="group-169-4606" name="Group">
    <div class="group-169-4607" name="Group">
     <div class="group-169-4608" name="Group">
      <div class="group-169-4609" name="Group">
      </div>
      <img class="vector-169-4610" src="assets/images/test/baseline/vector-169_4610.svg"/>
      <label class="text-169-4612" type="text" value="Base Line ID">
       Base Line ID
      </label>
     </div>
     <label class="text-169-4613" type="text" value="921409198-87861">
      921409198-87861
     </label>
    </div>
    <label class="text-169-4614" type="text" value="Private">
     Private
    </label>
    <img class="vector-169-4615" src="assets/images/test/baseline/vector-169_4615.svg"/>
   </div>
  </div>
 </div>
 <div class="group-169-4619" name="Group">
  <button class="btn-169-4620" type="button">
   Cancel
  </button>
  <button class="btn-169-4623" type="button">
   Next
  </button>
 </div>
</div>
